<div class="toolbar w-full px-gutter" fxLayout="row" fxLayoutAlign="start center" vexContainer>
  <button (click)="openSidenav()" [fxHide]="!mobileQuery" mat-icon-button type="button">
    <mat-icon [icIcon]="icMenu"></mat-icon>
  </button>

  <a *ngIf="isVerticalLayout$ | async"
     [routerLink]="['/']"
     class="ltr:mr-4 rtl:ml-4 block"
     fxLayout="row"
     fxLayoutAlign="start center">
    <img class="w-8 select-none" src="assets/img/demo/logo.svg">
    <h1 [fxHide]="mobileQuery" class="title ltr:pl-4 rtl:pr-4 m-0 select-none">VEX</h1>
  </a>

  <div *ngIf="(isVerticalLayout$ | async) && isNavbarInToolbar$ | async"
       [fxHide]="mobileQuery"
       class="px-gutter"
       fxFlex="none"
       fxLayout="row"
       fxLayoutAlign="start center">
    <vex-navigation-item *ngFor="let item of navigationItems" [item]="item"></vex-navigation-item>
  </div>

  <div fxFlex fxLayout="row" fxLayoutGap="5px">
    <div fxFlex="10%" fxHide.lt-sm>
      <img class="w-16"
           [src]="clientImage">
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="space-around center">
      <div><h2>{{toolBarTitle}}</h2></div>
      <div fxLayout="row">
        <p [fxHide]="mobileQuery" class="userMessage">
          {{toolBarMessage}}
        </p>
      </div>
    </div>
  </div>

  <div fxFlex="30%" fxLayout="row" fxLayoutGap="5px" class="-mx-1 flex items-center">
    <div fxFlex="60%" fxLayout="column" fxLayoutAlign="space-around center" class="px-1 flex">
      <form style="width: 100%" #ngClientsForm="ngForm" class="client-form" [formGroup]="clientsForm">
        <mat-form-field  appearance="outline" class="vex-flex-form-field" color="primary">
          <mat-label>Client</mat-label>
          <input name="client"
                 formControlName="client"
                 type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [matAutocomplete]="clientAutoComplete">
          <mat-autocomplete  #clientAutoComplete="matAutocomplete">
            <mat-option *ngFor="let client of filteredOptions | async"
                        [value]="client.ClientName"
                        (onSelectionChange)="onChange($event)"
                        style="font-size: 12px">
              {{client.ClientName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <vex-toolbar-user></vex-toolbar-user>
  </div>
</div>

<vex-navigation *ngIf="(isVerticalLayout$ | async) && isNavbarBelowToolbar$ | async"
                [fxHide]="mobileQuery"></vex-navigation>
