:host {
  background: var(--toolbar-background);
  box-sizing: border-box;
  color: var(--toolbar-color);
  display: block;
  width: 100%;
  z-index: var(--toolbar-z-index);
}

.toolbar {
  height: var(--toolbar-height);
}

.mat-icon {
  color: var(--toolbar-icon-color);
}

a {
  color: var(--toolbar-color);
  text-decoration: none;
}

.userMessage{
  font-size: 12px;
  text-align: center;
}

.client-form {
  mat-form-field {
    width: 100%;
  }
  input {
    font-size: 12px;
  }
}
