mat-form-field {
  font-size: 12px;
  width: 100%;
  margin-bottom: -7px;
}

.my-chip .mat-chip-selected {
  background-color: #000 !important;
  color: #fff;
}

mat-chip {
  max-width: 200px;
}

.filters-panel-cont-style{
  padding: 10px 10px 0px 10px;
}

.spinnerSection{
  display: flex;
  justify-content: center;
}

.center-me{
  margin-top: 50%;
  margin-bottom: 50%;
}

.spinnerSection mat-progress-spinner{
  flex: 1;
}