mat-form-field {
  font-size: 10px;
  width: 100%;
  margin-bottom: -10px;
}

.my-chip .mat-chip-selected {
  background-color: #000 !important;
  color: #fff;
}

mat-chip {
  max-width: 200px;
}

.filters-panel-cont-style{
  padding: 10px 10px 0px 10px;
}

.spinnerSection{
  display: flex;
  justify-content: center;
}

.center-me{
  margin-top: 50%;
  margin-bottom: 50%;
}

.spinnerSection mat-progress-spinner{
  flex: 1;
}

 /* default status styles */
 .defaultStatus{
	width: 152px; 
    height: 84px; 
    border-collapse: collapse;
}

.defaultStatusHeaderRow{
  padding: 10px 0;
  text-align: center; 
  color: #FFFFFF;
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
}

.defaultStatusValueRow{ 
  padding: 10px 0;
  text-align: center;
  color: #000000;
  background-color: #E8EbEc;
}

.quotedStatus{
    background-color: #D8531D;
}

.bookedStatus{
    background-color: #00CC7B;
}

.inTransitStatus{
  background-color: #A666B7;
}

.delivered{
  background-color: #F3C343;
}

.search-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: fit-content;
  max-height: fit-content;
}

.grid-container {
  width: device-width;
}

.grid-header-cell{
  color: #000000;
  font-weight: bolder;
}

.grid-mat-cell{
  white-space: normal;
    word-wrap: break-word;
    max-width: 150px;
}

.grid-mat-cell-med{
  white-space: normal;
    word-wrap: break-word;
    max-width: 120px;
}

.grid-mat-cell-small{
  white-space: normal;
    word-wrap: break-word;
    max-width: 100px;
}

.mat-cell, .mat-footer-cell {
  font-size: 12px;
}