<div [@stagger]="true" class="card overflow-auto ml-5 mt-5">
    <div fxLayout="row" fxLayout.lt-sm="column" >
        <div class="card" fxFlex="70%" class="filters-panel-cont-style">
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
                <div fxFlex="50%">
                    <mat-form-field class="filterControl" >
                        <mat-label>Shipper Name</mat-label>
                        <input matInput [(ngModel)]="getQuotesParameters.OrgName" placeholder="">
                    </mat-form-field>
                </div>
                <div fxFlex="50%">
                    <mat-form-field class="filterControl">
                        <mat-label>Consignee Name</mat-label>
                        <input matInput [(ngModel)]="getQuotesParameters.DestName" placeholder="">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
                <div fxFlex="25%">
                    <mat-form-field>
                        <mat-label>Ship Date</mat-label>
                        <input [(ngModel)]="fromShipDate" (click)="shipdatefromDatepickerRef.open()" (focus)="shipdatefromDatepickerRef.open()" name="shipdatefrom"
                            [matDatepicker]="shipdatefromDatepickerRef" matInput readonly>
                        <mat-datepicker-toggle [for]="shipdatefromDatepickerRef" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #shipdatefromDatepickerRef></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex="24%">
                    <mat-form-field>
                        <mat-label>To</mat-label>
                        <input [(ngModel)]="toShipDate" (click)="shipdatetoDatepickerRef.open()" (focus)="shipdatetoDatepickerRef.open()" name="shipdateto"
                        [matDatepicker]="shipdatetoDatepickerRef" matInput readonly>
                        <mat-datepicker-toggle [for]="shipdatetoDatepickerRef" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #shipdatetoDatepickerRef></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex="25%">
                    <mat-form-field>
                        <mat-label>Delivery Date</mat-label>
                        <input [(ngModel)]="fromDeliveryDate" (click)="deliverydatefromDatepickerRef.open()" (focus)="deliverydatefromDatepickerRef.open()" name="deliverydatefrom"
                            [matDatepicker]="deliverydatefromDatepickerRef" matInput readonly>
                        <mat-datepicker-toggle [for]="deliverydatefromDatepickerRef" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #deliverydatefromDatepickerRef></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex="24%">
                    <mat-form-field>
                        <mat-label>To</mat-label>
                        <input [(ngModel)]="toDeliveryDate" (click)="deliverydatetoDatepickerRef.open()" (focus)="deliverydatetoDatepickerRef.open()" name="deliverydateto"
                        [matDatepicker]="deliverydatetoDatepickerRef" matInput readonly>
                        <mat-datepicker-toggle [for]="deliverydatetoDatepickerRef" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #deliverydatetoDatepickerRef></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
                <div fxFlex="33%">
                    <mat-form-field >
                        <mat-label>PO Number</mat-label>
                        <input matInput [(ngModel)]="getQuotesParameters.PONumber" placeholder="">
                    </mat-form-field>
                </div>
                <div fxFlex="33%">
                    <mat-form-field >
                        <mat-label>BOL Number</mat-label>
                        <input matInput [(ngModel)]="getQuotesParameters.LoadNo" placeholder="">
                    </mat-form-field>
                </div>
                <div fxFlex="33%">
                    <mat-form-field >
                        <mat-label>Pro Number</mat-label>
                        <input matInput [(ngModel)]="getQuotesParameters.ProNumber" placeholder="">
                    </mat-form-field>
                </div>
            </div>
            
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
                <div fxFlex="50%">
                    <mat-form-field >
                        <mat-label>Select Equipment</mat-label>
                        <mat-select [(ngModel)]="getQuotesParameters.EquipmentID">
                            <mat-option *ngFor="let equipment of EquipmentOptions" [value]="equipment.EquipmentID">{{equipment.Description}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="50%">
                    <mat-form-field>
                        <mat-label>Select Mode</mat-label>
                        <mat-select [(ngModel)]="getQuotesParameters.Mode">
                            <mat-option *ngFor="let shipmentmode of ShipmentModeOptions" [value]="shipmentmode.ModeCode">{{shipmentmode.Mode}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
                <div fxFlex="50%">
                    <mat-form-field >
                        <mat-label>Select Shipment Type</mat-label>
                        <mat-select [(ngModel)]="getQuotesParameters.ShipmentType">
                            <!-- <mat-option *ngFor="let country of destinationCountries" [value]="country.CountryId">{{country.CountryName}}</mat-option>                       -->
                            <mat-option value="ALL">ALL</mat-option>
                            <mat-option value="International">International</mat-option>
                            <mat-option value="Domestic">Domestic</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="50%">
                    <mat-form-field >
                        <mat-label>Search in Client Lading No/PO Number/Carrier BC</mat-label>
                        <input matInput [(ngModel)]="getQuotesParameters.FreeSearch" placeholder="">
                    </mat-form-field>
                </div>
            </div>
            <!-- <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                <div fxFlex="99%">
                    <mat-form-field >
                        <mat-label>Select Status</mat-label>
                        <mat-select multiple [(ngModel)]="getQuotesParameters.BOlStatusIDList">
                            <mat-option *ngFor="let status of StatusOptions" [value]="status.BOLStatusID">{{status.Status}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div> -->
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
                <div fxFlex="100%">
                    <mat-form-field class="example-chip-list">
                        <mat-label>Select Status</mat-label>
                        <mat-chip-list #chipList aria-label="Status selection">
                          <mat-chip
                            *ngFor="let status of statusSelected"
                            [selectable]="selectable"
                            [removable]="removable"
                            (removed)="remove(status)"> 
                            {{status}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                          <input
                            #statusInput
                            [formControl]="statusCtrl"
                            [matAutocomplete]="auto"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                          <mat-option *ngFor="let status of filteredStatus | async" [value]="status">
                            {{status}}
                          </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px" class="py-5 pr-2">
                <button (click)="search()" color="warn" mat-raised-button type="button">Search</button>
            </div>
        </div>
        <!-- <div class="card" fxFlex="50%">
            <img [src]="rightPanelImage" >
        </div> -->
    </div>
    <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="5px" class="mt-5">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
            <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>
                <!-- Text Columns -->
                <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                    <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
                </ng-container>
                </ng-container>

                <!-- Text Columns -->
                <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                <ng-container *ngIf="column.type === 'dateformat'" [matColumnDef]="column.property">
                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                    <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property | date:'fullDate'] }}</td>
                </ng-container>
                </ng-container>

                <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
                <tr 
                    *matRowDef="let row; columns: visibleColumns;"
                    @fadeInUp
                    class="hover:bg-hover trans-ease-out cursor-pointer"
                    mat-row>
                </tr>
            </table>
        </div>
    </div>
</div>