mat-form-field {
  font-size: 10px;
  width: 100%;
  margin-bottom: -10px;
}

.my-chip .mat-chip-selected {
  background-color: #000 !important;
  color: #fff;
}

mat-chip {
  max-width: 200px;
}

.filters-panel-cont-style{
  padding: 10px 10px 0px 10px;
}

.spinnerSection{
  display: flex;
  justify-content: center;
}

.center-me{
  margin-top: 50%;
  margin-bottom: 50%;
}

.spinnerSection mat-progress-spinner{
  flex: 1;
}

.defaultStatus {
  font-family: arial;
  font-size: 12px;
  clear: both;
  margin: 0 -1px;
  text-align: center;
  float: left;
  padding: 10px 30px 10px 30px;
  position: relative;
  width: 152PX;
  height:84px;
  vertical-align: middle;
  align-items: center;
}

.defaultStatus:before {
  content: '';
  border-left: 16px solid #fff;
  border-top: 42px solid transparent;
  border-bottom: 42px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.defaultStatus:after {
  content: '';
  border-left: 16px solid #333;
  border-top: 42px solid transparent;
  border-bottom: 42px solid transparent;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 20;
}

.defaultStatusCenter{
  background-color: hotpink;
}

.defaultStatus.quotedStatus:after {
  content: '';
  border-left: 16px solid #D8531D;
  border-top: 42px solid transparent;
  border-bottom: 42px solid transparent;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
}

.defaultStatusCenterLabels {
  position: absolute;
   top: 55%;
   left: 50%;
   height: 30%;
   width: 50%;
   margin: -15% 0 0 -25%;
   color: white;
   font-weight: 900;
}

.quotedStatus{
  background-color: #D8531D;
  background-image: linear-gradient(to left, #D8531D , #ECA98E);
}

.defaultStatus.bookedStatus:after {
  content: '';
  border-left: 16px solid #00CC7B;
  border-top: 42px solid transparent;
  border-bottom: 42px solid transparent;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
}

.bookedStatus{
  background-color: #00CC7B;
  background-image: linear-gradient(to left, #00CC7B , #80E6BD);
}

.defaultStatus.inTransitStatus:after {
  content: '';
  border-left: 16px solid #A666B7;
  border-top: 42px solid transparent;
  border-bottom: 42px solid transparent;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
}

.inTransitStatus{
  background-color: #A666B7;
  background-image: linear-gradient(to left, #A666B7 , #E1CBE7);
}

.defaultStatus.outForDelivered:after {
  content: '';
  border-left: 16px solid #83CFF6;
  border-top: 42px solid transparent;
  border-bottom: 42px solid transparent;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
}

.outForDelivered{
  background-color: #83CFF6;
  background-image: linear-gradient(to left, #83CFF6 , #CDECFB);
}

.defaultStatus.deliveredStatus:after {
  content: '';
  border-left: 16px solid #F3C343;
  border-top: 42px solid transparent;
  border-bottom: 42px solid transparent;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
}

.deliveredStatus{
  background-color: #F3C343;
  background-image: linear-gradient(to left, #F3C343 , #FAE6AF);
}

.defaultStatus.pickupRequestedStatus:after {
  content: '';
  border-left: 16px solid #2A99D6;
  border-top: 42px solid transparent;
  border-bottom: 42px solid transparent;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
}

.pickupRequestedStatus{
  background-color: #2A99D6;
  background-image: linear-gradient(to left, #2A99D6 , #92CBE9);
}

.search-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: fit-content;
  max-height: fit-content;
}

.grid-container {
  width: device-width;
}

.grid-header-cell{
  color: #000000;
  font-weight: bolder;
}

.grid-mat-cell{
  white-space: normal;
    word-wrap: break-word;
    max-width: 150px;
}

.grid-mat-cell-med{
  white-space: normal;
    word-wrap: break-word;
    max-width: 120px;
}

.grid-mat-cell-small{
  white-space: normal;
    word-wrap: break-word;
    max-width: 100px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(214, 214, 214);
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}


@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
    }
    
    /*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "First Name"; }
		td:nth-of-type(2):before { content: "Last Name"; }
		td:nth-of-type(3):before { content: "Job Title"; }
		td:nth-of-type(4):before { content: "Favorite Color"; }
		td:nth-of-type(5):before { content: "Wars of Trek?"; }
		td:nth-of-type(6):before { content: "Secret Alias"; }
		td:nth-of-type(7):before { content: "Date of Birth"; }
		td:nth-of-type(8):before { content: "Dream Vacation City"; }
		td:nth-of-type(9):before { content: "GPA"; }
		td:nth-of-type(10):before { content: "Arbitrary Data"; }
  }
  
  .horizontal-separator-line{
    width:100%;
    height:2px;
    margin-left:0%;
    margin-right:0%;
    border-width:0;
    color:gray;
    background-color:gray
  }

  .horizontal-title-line{
    width:90%;
    height:2px;
    margin-left:5%;
    margin-right:5%;
    border-width:0;
    color:gray;
    background-color:gray
  }

  .vertical-line {
    border-left: 2px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .div-container{
    margin: 10px;
    white-space: normal;
    word-wrap: break-word;
  }

  .div-container-title{
    font-weight: bold;
    text-align: center;
  }

  .div-container-content{
    text-align: justify;
  }

  .div-container-three-column{
    float: left;
    width: 33.33%;
    padding: 10px;
    align-items: center;
  }

  .div-container-two-column{
    float: left;
    width: 50%;
    padding: 10px;
  }

  .mat-cell, .mat-footer-cell {
    font-size: 12px;
  }

  .disabled {
    pointer-events: none;
    cursor: not-allowed;
  }

  .sendEmailInputStyle{
    margin-top: -12px;
    margin-left: -12%;
    margin-bottom: 5px;
    flex-basis: 60%;
    text-align: end;
  }

  .inner-rate-options-column {  
    flex-basis: 100%;
    text-align: end;
  }

  .checkbox-margin {
    margin: 0 12px;
  }

  .emailIcon  {
    margin-bottom: -7px;
    margin-right: 5px;
  }

  .printIcon  {
    margin-bottom: -7px;
  }

  .document-label{
    margin: -10px;
  }

  .filterTitle{
    font-weight: bold;
  }

  .filterDefault{
    font-style: italic;
  }

  .moreFilterButton{
    padding: 0px;  
  }

  .expansion-panel-header-style{
    font-size: 10px;
    padding: 5px;
    font-weight: bolder;
  }
  
  .expansion-panel-body-style{
    padding: 0 -24px 16px;
    font-size: 10px;
  }