<div [@stagger]="true" class="overflow-auto">
    <div fxLayout="row" fxLayout.lt-sm="column" class="ml-2 mt-1" (click)="close('close')">
        <div fxFlex="100%" class="card filters-panel-cont-style">

            <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="5px">
                
                <button (click)="search('10')">
                    <div class="defaultStatus quotedStatus">
                        <div class="defaultStatusCenterLabels">
                            <div>
                                Quoted
                            </div>
                            <div>
                                <p>{{totalQuotedStatus}}</p>
                            </div>
                        </div>
                    </div>
                </button>

                <button (click)="search('2')">
                    <div class="defaultStatus bookedStatus">
                        <div class="defaultStatusCenterLabels">
                            <div>
                                Booked
                            </div>
                            <div>
                                <p>{{totalBookedStatus}}</p>
                            </div>
                        </div>
                    </div>
                </button>

                <button (click)="search('15')">
                    <div class="defaultStatus pickupRequestedStatus">
                        <div class="defaultStatusCenterLabels">
                            <div>
                                Pickup Requested
                            </div>
                            <div>
                                <p>{{totalPickupRequestedStatus}}</p>
                            </div>
                        </div>
                    </div>
                </button>

                <button (click)="search('1')">
                    <div class="defaultStatus inTransitStatus">
                        <Div class="defaultStatusCenterLabels">
                            <div>
                                In Transit
                            </div>
                            <div>
                                <p>{{totalInTransitStatus}}</p>
                            </div>
                        </Div>
                    </div>
                </button>
                
                <button (click)="search('9')">
                    <div class="defaultStatus outForDelivered">
                        <div class="defaultStatusCenterLabels">
                            <div>
                                Out For Delivery
                            </div>
                            <div>
                                <p>{{totalOutForDeliveryStatus}}</p>
                            </div>
                        </div>
                    </div>
                </button>

                <button (click)="search('6')">
                    <div class="defaultStatus deliveredStatus">
                        <div class="defaultStatusCenterLabels">
                            <div>
                                Delivered
                            </div>
                            <div>
                                <p>{{totalDeliveredStatus}}</p>
                            </div>
                        </div>
                    </div>
                </button>

                <div id="arrow"></div>
            </div>
            
            <div fxLayout="row" fxLayoutAlign="space-between" class="py-2 pr-2">  
                <div fxLayoutAlign="start end" fxFlex="80%">
                    <span class="filterTitle">Filters:</span> <span class="filterDefault" >{{defaultFilterText}}</span>
                </div>

                <div fxLayout="row" fxLayoutAlign="end end" fxFlex="20%" class="pt-2">
                    <div class="spinnerSection" *ngIf="showSpinner">
                        <div class="center-me">
                          <mat-progress-spinner diameter="50" color="warn" mode="indeterminate"></mat-progress-spinner>
                          <p>Loading...</p>
                        </div>
                    </div>
    
                    <div *ngIf=!showSpinner>
                        <button (click)="close('open')" class="moreFilterButton" mat-button>
                            <span>More Filter Options </span>
                            <mat-icon [icIcon]="icFilterList" color="black"></mat-icon>
                        </button>
                        <div fxLayoutAlign="end end">
                            <span>{{currentRows}} of {{totalRows}}</span>
                        </div>
                    </div>
                    
                     <mat-sidenav #searchModal position="end" class="search-container" (click)="close('search')">
                        <button (click)="$event.stopPropagation()">
                            <div class="ml-2 mr-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Shipper Name</mat-label>
                                    <input matInput [(ngModel)]="getQuotesParameters.OrgName" placeholder="">
                                </mat-form-field>
                            </div>
                            <div class="ml-2 mr-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Consignee Name</mat-label>
                                    <input matInput [(ngModel)]="getQuotesParameters.DestName" placeholder="">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="5px" class="ml-2 mr-2">
                                <div fxFlex="130px">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Ship Date</mat-label>
                                        <input [(ngModel)]="fromShipDate" (click)="shipdatefromDatepickerRef.open()" (focus)="shipdatefromDatepickerRef.open()" name="shipdatefrom"
                                            [matDatepicker]="shipdatefromDatepickerRef" matInput readonly>
                                        <mat-datepicker-toggle [for]="shipdatefromDatepickerRef" matSuffix></mat-datepicker-toggle>
                                        <mat-datepicker #shipdatefromDatepickerRef></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="120px">
                                    <mat-form-field appearance="outline">
                                        <mat-label>To</mat-label>
                                        <input [(ngModel)]="toShipDate" (click)="shipdatetoDatepickerRef.open()" (focus)="shipdatetoDatepickerRef.open()" name="shipdateto"
                                        [matDatepicker]="shipdatetoDatepickerRef" matInput readonly>
                                        <mat-datepicker-toggle [for]="shipdatetoDatepickerRef" matSuffix></mat-datepicker-toggle>
                                        <mat-datepicker #shipdatetoDatepickerRef></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutGap="5px" class="ml-2 mr-2">
                                <div fxFlex="130px">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Delivery Date</mat-label>
                                        <input [(ngModel)]="fromDeliveryDate" (click)="deliverydatefromDatepickerRef.open()" (focus)="deliverydatefromDatepickerRef.open()" name="deliverydatefrom"
                                            [matDatepicker]="deliverydatefromDatepickerRef" matInput readonly>
                                        <mat-datepicker-toggle [for]="deliverydatefromDatepickerRef" matSuffix></mat-datepicker-toggle>
                                        <mat-datepicker #deliverydatefromDatepickerRef></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="120px">
                                    <mat-form-field appearance="outline">
                                        <mat-label>To</mat-label>
                                        <input [(ngModel)]="toDeliveryDate" (click)="deliverydatetoDatepickerRef.open()" (focus)="deliverydatetoDatepickerRef.open()" name="deliverydateto"
                                        [matDatepicker]="deliverydatetoDatepickerRef" matInput readonly>
                                        <mat-datepicker-toggle [for]="deliverydatetoDatepickerRef" matSuffix></mat-datepicker-toggle>
                                        <mat-datepicker #deliverydatetoDatepickerRef></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="ml-2 mr-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>PO Number</mat-label>
                                    <input matInput [(ngModel)]="getQuotesParameters.PONumber" placeholder="">
                                </mat-form-field>
                            </div>
                            <div class="ml-2 mr-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>BOL Number</mat-label>
                                    <input matInput [(ngModel)]="getQuotesParameters.LoadNo" placeholder="">
                                </mat-form-field>
                            </div>
                            <div class="ml-2 mr-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Pro Number</mat-label>
                                    <input matInput [(ngModel)]="getQuotesParameters.ProNumber" placeholder="">
                                </mat-form-field>
                            </div>
                            <div class="ml-2 mr-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Select Equipment</mat-label>
                                    <mat-select [(ngModel)]="getQuotesParameters.EquipmentID">
                                        <mat-option *ngFor="let equipment of EquipmentOptions" [value]="equipment.EquipmentID">{{equipment.Description}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="ml-2 mr-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Select Mode</mat-label>
                                    <mat-select [(ngModel)]="getQuotesParameters.Mode">
                                        <mat-option *ngFor="let shipmentmode of ShipmentModeOptions" [value]="shipmentmode.ModeCode">{{shipmentmode.Mode}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                                <div class="ml-2 mr-2">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Select Shipment Type</mat-label>
                                        <mat-select [(ngModel)]="getQuotesParameters.ShipmentType">
                                            <mat-option value="">ALL</mat-option>
                                            <mat-option value="International">International</mat-option>
                                            <mat-option value="Domestic">Domestic</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="ml-2 mr-2">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Search in Client Lading No/PO Number/Carrier BC</mat-label>
                                        <input matInput [(ngModel)]="getQuotesParameters.FreeSearch" placeholder="">
                                    </mat-form-field>
                                </div>
                                <div class="ml-2 mr-2">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Select Status</mat-label>
                                        <mat-select multiple [(value)]="statusSelected">
                                            <mat-option *ngFor="let status of StatusOptions" [value]="status">{{status.Status}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
    
                                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px" class="py-5 pr-2">
                                    <div *ngIf=!showSpinner>
                                        <button [disabled]=showSpinner (click)="search('clearfilters')" mat-button type="button">Clear</button>
                                        <button (click)="search('S')" color="warn" mat-raised-button type="button">Search</button>
                                    </div>
                                </div>   
    
                            </button>
                                             
                     </mat-sidenav>
                </div>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px" class="card ml-2 mt-5 grid-container" (click)="close('close')">        
        <div class="card">
            <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table multiTemplateDataRows matSort>
                
                <!-- Action Columns -->
                <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                    <ng-container *ngIf="column.type === 'edit'" [matColumnDef]="column.property">
                        <th *matHeaderCellDef class="grid-header-cell grid-mat-cell-small uppercase" mat-header-cell> {{ column.label }}</th>
                        <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                            <button (click)="view($event,row)" mat-icon-button type="button">
                                <mat-icon [icIcon]="baselineEdit" color="lightgray"></mat-icon>
                            </button>
                        </td>
                    </ng-container>
                </ng-container>

                <!-- Text Columns -->
                <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                    <th *matHeaderCellDef class="grid-mat-cell grid-header-cell uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                    <td *matCellDef="let row" [ngClass]="column.cssClasses" [style.color]="getFontColor(row[column.property])" [style.font-weight]="getFontWeight(row[column.property])" mat-cell>{{ row[column.property] }}</td>
                </ng-container>
                </ng-container>

                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let row" [attr.colspan]="visibleColumns.length">
                        <div class="example-element-detail" *ngIf="row.ClientLadingNo === expandedQuote">
                            
                            <div class="spinnerSection" *ngIf="showSpinnerGrid">
                                <div class="center-me">
                                  <mat-progress-spinner diameter="50" color="warn" mode="indeterminate"></mat-progress-spinner>
                                  <p>Loading...</p>
                                </div>
                            </div>
                            
                            <div *ngIf="!showSpinnerGrid && shipmentInformation != null" fxLayout="row" fxFlex=100%>
                                <div fxFlex="20%">
                                    <div class="div-container div-container-title">
                                        Origin Terminal
                                    </div>
                                    <hr class="horizontal-title-line">
                                    <div class="div-container div-container-content">
                                        <p *ngIf="shipmentInformation != null"><mat-icon [icIcon]="outlinePhone" color="black"></mat-icon> 
                                            {{ shipmentInformation.OriginTerminalPhone }}</p>   
                                    </div>
                                    <div class="div-container div-container-content">
                                        <p *ngIf="shipmentInformation != null"><mat-icon [icIcon]="outlineMap" color="black"></mat-icon>
                                            {{ shipmentInformation.OriginTerminalAdd1 }} 
                                            {{ shipmentInformation.OriginTerminalAdd2 }}
                                            {{ shipmentInformation.OriginTerminalCity }}, 
                                            {{ shipmentInformation.OriginTerminalState }}, 
                                            {{ shipmentInformation.OriginTerminalZip }}
                                        </p>
                                    </div>
                                    <hr class="horizontal-separator-line">
                                    <div class="div-container div-container-title">
                                        Destination Terminal
                                    </div>
                                    <hr class="horizontal-title-line">
                                    <div class="div-container div-container-content">
                                        <p *ngIf="shipmentInformation != null"><mat-icon [icIcon]="outlinePhone" color="black"></mat-icon>
                                            {{ shipmentInformation.DestTerminalPhone }}</p>   
                                    </div>
                                    <div class="div-container div-container-content">
                                        <p *ngIf="shipmentInformation != null"><mat-icon [icIcon]="outlineMap" color="black"></mat-icon>
                                            {{ shipmentInformation.DestTerminalAdd1 }} 
                                            {{ shipmentInformation.DestTerminalAdd2 }}
                                            {{ shipmentInformation.DestTerminalCity }}, 
                                            {{ shipmentInformation.DestTerminalState }}, 
                                            {{ shipmentInformation.DestTerminalZip }}
                                        </p>
                                    </div>
                                </div>
                                <div class="vertical-line"></div>
                                <div fxFlex="20%">
                                    <div class="div-container div-container-title">
                                        Tracking Details
                                    </div>
                                    <hr class="horizontal-title-line">    
                                    <div class="div-container div-container-content">
                                        <p *ngIf="shipmentInformation != null">Tracking Number: {{shipmentInformation.TrackingNumber}}</p>
                                        <p *ngIf="TrackingDetailsLists != null && TrackingDetailsLists.length > 0">Current Status: {{TrackingDetailsLists[0].CurrentStatus}}</p>
                                        <table mat-table [dataSource]=dataSourceTracking  *ngIf="TrackingDetailsLists != null && TrackingDetailsLists.length > 0">
                                            <ng-container matColumnDef="StatusDate">
                                                <th mat-header-cell *matHeaderCellDef>Status Date</th>
                                                <td mat-cell *matCellDef="let row"> {{row.StatusDate}} </td>
                                            </ng-container>
                                            
                                            <ng-container matColumnDef="Description">
                                                <th mat-header-cell *matHeaderCellDef>Description</th>
                                                <td mat-cell *matCellDef="let row"> {{row.StatusDescription}} </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsTracking"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsTracking;"></tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="vertical-line"></div>
                                <div fxFlex="20%">
                                    <div class="div-container div-container-title">
                                        Shipping Details
                                    </div>
                                    <hr class="horizontal-title-line">
                                    <div class="div-container div-container-content">
                                        <p *ngIf="shipmentInformation != null">Pro Number: {{row.ProNumber}}</p>
                                        <p *ngIf="shipmentInformation != null">Pickup Number: {{shipmentInformation.PickupNumber}}</p> 
                                        <p *ngIf="shipmentInformation != null">R2 Ref.No: {{shipmentInformation.BrokerReferenceNo}}</p>
                                        <p *ngIf="shipmentInformation != null">Exp Ship Date: {{shipmentInformation.RequestedPickupDateFromWithFormat}}</p> 
                                        <p *ngIf="shipmentInformation != null">Actual Ship Date: {{shipmentInformation.PickupDateWithFormat}}</p>
                                        <p *ngIf="shipmentInformation != null">Actual Del Date: {{shipmentInformation.DeliveryDateWithFormat}}</p>
                                        <p *ngIf="shipmentInformation != null">Expected Del Date: {{shipmentInformation.RequestedDeliveryDateWithFormat}}</p>
                                    </div>
                                </div>
                                <div class="vertical-line"></div>
                                <div fxFlex="20%">
                                    <div class="div-container div-container-title">
                                        References
                                    </div>

                                    <hr class="horizontal-title-line">
                                    <div class="div-container div-container-content">
                                        <p *ngIf="shipmentInformation != null">{{ReferenceByClientField1}}{{shipmentInformation.Ref1Value}}</p>
                                        <p *ngIf="shipmentInformation != null">{{ReferenceByClientField2}}{{shipmentInformation.Ref2Value}}</p> 
                                        <p *ngIf="shipmentInformation != null">{{ReferenceByClientField3}}{{shipmentInformation.Ref3Value}}</p>
                                        <p *ngIf="shipmentInformation != null">{{ReferenceByClientField4}}{{shipmentInformation.Ref4Value}}</p>
                                    </div>
                                    <hr class="horizontal-separator-line">
                                    <div class="div-container div-container-title">
                                        View Related Documents
                                    </div>
                                    <hr class="horizontal-title-line">
                                    <div>
                                        <div class="div-container-three-column">
                                            <button mat-icon-button matTooltip="Print BOL document" [class.disabled]="!bolDocumentURLIsEnabled">
                                                <mat-icon [icIcon]="outlineTextSnippet" color="black"></mat-icon>
                                            </button>
                                            <p class="document-label"><a mat-flat-button [class.disabled]="!bolDocumentURLIsEnabled" href="{{bolDocumentURL}}" target="_blank">BOL</a></p>
                                        </div>
                                        <div class="div-container-three-column">
                                            <button mat-icon-button matTooltip="Print POD document" [class.disabled]="!podDocumentURLIsEnabled">
                                                <mat-icon [icIcon]="outlineTextSnippet" color="black">POD</mat-icon>
                                            </button>
                                            <p class="document-label"><a mat-flat-button [class.disabled]="!podDocumentURLIsEnabled" href="{{podDocumentURL}}" target="_blank">POD</a></p>
                                        </div>
                                        <div class="div-container-three-column">
                                            <button mat-icon-button matTooltip="Print OTHER document" [class.disabled]="!othDocumentURLIsEnabled">
                                                <mat-icon [icIcon]="outlineTextSnippet" color="black">OTHER</mat-icon>
                                            </button>
                                            <p class="document-label"><a mat-flat-button [class.disabled]="!othDocumentURLIsEnabled" href="{{othDocumentURL}}" target="_blank">OTHER</a></p>
                                        </div>  
                                    </div>
                                    <div>
                                        <div class="div-container-two-column">
                                            <button mat-icon-button matTooltip="Print OTHER document" [class.disabled]="!notesIsEnabled">
                                                <mat-icon [icIcon]="outlineTextSnippet" color="black">NOTES</mat-icon>
                                            </button>
                                            <p class="document-label"><a mat-flat-button [class.disabled]="!notesIsEnabled" href="{{notesList}}" target="_blank">NOTES</a></p>
                                        </div>
                                        <div class="div-container-two-column">
                                            <button mat-icon-button matTooltip="Print OTHER document" [class.disabled]="!auditLogIsEnabled">
                                                <mat-icon [icIcon]="outlineTextSnippet" color="black">AUDIT LOG</mat-icon>
                                            </button>
                                            <p class="document-label"><a mat-flat-button [class.disabled]="!auditLogIsEnabled" href="{{auditLog}}" target="_blank">AUDIT LOG</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="vertical-line"></div>
                                <div fxFlex="20%">
                                    <div class="div-container div-container-title">
                                        View/Print Documents
                                    </div>
                                    <hr class="horizontal-title-line">
                                    <div class="div-container">
                                        <p>
                                            <a mat-icon-button href="{{bolPrintURL}}" target="_blank">
                                                <p>
                                                    <mat-icon class="printIcon" [icIcon]="outlinePrint" color="black"></mat-icon>
                                                    <a mat-flat-button href="{{bolPrintURL}}" target="_blank">BOL</a>
                                                </p>
                                            </a>
                                        </p>
                                        <p>
                                            <a mat-icon-button href="{{shipmentlabelsPrintURL}}" target="_blank">
                                                <p>
                                                    <mat-icon class="printIcon" [icIcon]="outlinePrint" color="black"></mat-icon>
                                                    <a mat-flat-button href="{{shipmentlabelsPrintURL}}" target="_blank">Shipment Labels</a>
                                                </p>
                                            </a>
                                        </p>
                                        <p>
                                            <a mat-icon-button href="{{ratequotePrintURL}}" target="_blank">
                                                <p>
                                                    <mat-icon class="printIcon" [icIcon]="outlinePrint" color="black"></mat-icon>
                                                    <a mat-flat-button href="{{ratequotePrintURL}}" target="_blank">Rate Quote</a>
                                                </p>
                                            </a>
                                        </p>
                                        <p>
                                            <mat-form-field appearance="standard">
                                                <mat-label>No of Copy</mat-label>
                                                <mat-select [(value)]="noCopies" (selectionChange)="NoCopiesChange()">
                                                  <mat-option value="4">4</mat-option>
                                                  <mat-option value="6">6</mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                            <a mat-icon-button href="{{labelPrintURL}}" target="_blank" [class.disabled]="!labelPrintURLEnable">
                                                <p>
                                                    <mat-icon class="printIcon" [icIcon]="outlinePrint" color="black"></mat-icon>
                                                    <a mat-flat-button href="{{labelPrintURL}}" target="_blank" [class.disabled]="!labelPrintURLEnable">Print Label</a>
                                                </p>
                                            </a>
                                        </p>
                                    </div>
                                    <hr class="horizontal-separator-line">
                                    <div class="div-container div-container-title">
                                        Email Documents
                                    </div>
                                    <hr class="horizontal-title-line">
                                    <div class="div-container">
                                        <p><mat-checkbox class="checkbox-margin" [checked]="emailBOL" [(ngModel)]="emailBOL" (change)="ValidateEmail()"></mat-checkbox>
                                            <mat-icon class="emailIcon" [icIcon]="outlineEmail" color="black"></mat-icon>BOL</p>
                                        <p><mat-checkbox class="checkbox-margin" [checked]="emailShipmentLabels" [(ngModel)]="emailShipmentLabels" (change)="ValidateEmail()"></mat-checkbox>
                                            <mat-icon class="emailIcon" [icIcon]="outlineEmail" color="black"></mat-icon>Shipment Labels</p>
                                        <p><mat-checkbox class="checkbox-margin" [checked]="emailRateQuote" [(ngModel)]="emailRateQuote" (change)="ValidateEmail()"></mat-checkbox>
                                            <mat-icon class="emailIcon" [icIcon]="outlineEmail" color="black"></mat-icon>Rate Quote</p>
                                    </div>
                                    <div class="inner-rate-options-column sendEmailInputStyle">
                                        <div >
                                            <mat-form-field appearance="standard" color="primary" style="width: 75%;" >
                                                <mat-label>Email</mat-label>
                                                <input matInput type="email" required [(ngModel)]="emailSendDocs" (ngModelChange)="ValidateEmail()"
                                                (keydown.tab)="ValidateEmail()"> >
                                            </mat-form-field>   
                                        
                                            <div>
                                                <button color="primary" class="mr-1 mat-stroked-sent-email-button" mat-stroked-button type="button"  [disabled]="!sendEmailClicked" (click)="SendDocsByEmail(true)">Send</button>
                                                <button color="primary"  class="mat-stroked-sent-email-button" mat-stroked-button type="button" (click)="SendDocsByEmail(false)">Cancel</button>                                   
                                            </div>
                                        </div>                                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr *matHeaderRowDef="visibleColumns" mat-header-row ></tr>
                <tr mat-row
                    *matRowDef="let row; columns: visibleColumns;"
                    class="example-element-row"
                    [class.example-expanded-row]="expandedElement === row"
                    (click)="GetQuoteInfo(row)">
                </tr>
                <tr mat-row
                    *matRowDef="let row; columns: ['expandedDetail'];"
                    [@detailExpand]="row.ClientLadingNo === expandedQuote ? 'expanded' : 'collapsed'">
                </tr>
            </table>

            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px" class="py-5 pr-2">
                <div *ngIf=!showSpinner>{{currentRows}} of {{totalRows}}</div>
                <div *ngIf=!showSpinner>
                    <button (click)="search('loadmore')" color="warn" mat-raised-button type="button">Load more</button>
                </div>
            </div>   

            <!-- <mat-paginator [length]="totalRows" [pageSize]="20" [pageIndex]="currentPage" (page)="getServerData($event)"></mat-paginator> -->
        </div>
    </div>
</div>