<form (ngSubmit)="save()" [formGroup]="form" *ngIf="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 *ngIf="isCreateMode()" class="headline m-0" fxFlex="auto">New Location</h2>
    <h2 *ngIf="isUpdateMode()" class="headline m-0" fxFlex="auto">Update Location</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>Short Name</mat-label>
        <input cdkFocusInitial formControlName="ShortName" matInput>

      </mat-form-field>

      <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Location Type</mat-label>
        <mat-select [(value)]="this.locationTypeSelected">
          <mat-option *ngFor="let locationType of this.locationTypes" [value]="locationType.LocationTypeID">
            {{locationType.LocationType}}
          </mat-option>
        </mat-select>

      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Location Name</mat-label>
        <input formControlName="Name" matInput>

      </mat-form-field>

      <mat-form-field class="sm:ml-6 sm:mr-4" appearance="fill">
        <mat-label>Active Date</mat-label>
        <input formControlName="ActivateDate" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Address 1</mat-label>
        <input formControlName="Address1" matInput>

      </mat-form-field>

      <div class="sm:ml-6 flex-auto">
        <mat-checkbox color="primary" [checked]="this.checked"></mat-checkbox>
        <mat-label class="pl-2">Is Active</mat-label>
      </div>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Address 2</mat-label>
        <input formControlName="Address2" matInput>

      </mat-form-field>

      <mat-form-field class="sm:ml-6" appearance="fill">
        <mat-label>Deactivation Date</mat-label>
        <input formControlName="DeactivateDate" matInput [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>

      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Country</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [formControl]="countryControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCountryChange($event)">
          <mat-option *ngFor="let country of filteredOptions | async" [value]="country.CountryName">
            {{country.CountryName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>Location Reference</mat-label>
        <input formControlName="ReferenceCode" matInput>

      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Postal</mat-label>
        <input formControlName="PostalCode" matInput>

      </mat-form-field>

      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>Inbound Account</mat-label>
        <input formControlName="InAccountCode" matInput>

      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>State</mat-label>
        <input formControlName="StateCode" matInput>

      </mat-form-field>

      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>Outbound Account</mat-label>
        <input formControlName="OutAccountCode" matInput>

      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>City</mat-label>
        <input formControlName="CityName" matInput>

      </mat-form-field>

      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>Created By</mat-label>
        <input formControlName="CreatedBy" matInput>

      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Contact Name</mat-label>
        <input formControlName="ContactName" matInput>

      </mat-form-field>

      <div class="sm:ml-6 flex-auto">
        <mat-label>Approve</mat-label>
        <br/>
        <mat-checkbox class="sm:mr-6" color="primary" #c1 [checked]="!c.checked">Yes</mat-checkbox>
        <mat-checkbox color="primary" #c [checked]="!c1.checked">No</mat-checkbox>

      </div>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Contact Phone</mat-label>
        <input formControlName="ContactPhone" matInput>

      </mat-form-field>

      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>Contact Email</mat-label>
        <input type="email" formControlName="ContactEmail" matInput>

      </mat-form-field>
    </div>

    <mat-form-field class="flex-auto">
      <mat-label>Notes</mat-label>
      <textarea formControlName="Notes" matInput></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">CREATE LOCATION</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">UPDATE LOCATION</button>
  </mat-dialog-actions>
</form>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon [icIcon]="icPrint"></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
