.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;    
  } 
  
  #map {
    height: 500px;
    width: 100%;
   }

   .example-headers-align .mat-form-field {   
        width: 100%;
    }

    // .example-headers-align .mat-form-field {
    //     font: 400 14px/1.0 var(--font);
    //     letter-spacing: normal;
    //   }
    
    // .expansionHeader .mat-expansion-indicator::after {
    //     border-color: red;
    // }    

    .qcForms{
        padding: 0.5rem;
    }    

    .freightRate-carrierInfo {
        padding-left: .9375rem;
        font-weight: 700;
        font-size: 0.6rem;
    }

    .CarrierName{
        text-align: left;
    }

    .numeral {
        font-weight: 900;
        letter-spacing: .025rem;
    }

    .numeral--large {
        font-size: 1.38rem;
    }

    .numeral-affix {
        font-size: 0.5em;
        position: relative;
        top: -0.69em;
    }

    // .button--small, .linkButton--small {
    //     height: 2.6875rem;
    //     padding: 0 1.25rem;
    //     min-width: 9.25rem;
    // }
    
    .inlineButton {
        display: inline-block;
        text-transform: uppercase;
        color: #02aaf3;
        // cursor: pointer;
        font-weight: 700;
        font-size: 0.5rem;
        letter-spacing: .1rem;
        -webkit-transition: color 0.15s ease-in-out;
        transition: color 0.15s ease-in-out;
        max-width: 100%;
        border: none;
        text-align: left;
    }