<!-- <vex-secondary-toolbar current="Quick Quote">
  <vex-breadcrumbs [crumbs]="['Shipment', 'Quick Quote']" fxFlex="auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon [icIcon]="icMoreVert"></mat-icon>
  </button>
</vex-secondary-toolbar> -->

<div [@stagger]="true" class="p-gutter qcForms" vexContainer>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
    <div @fadeInUp class="card" fxFlex="50%">
      <form #myForm="ngForm" [formGroup]="quickQuoteFormGroup">
        <div fxLayout="column">
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header class="expansionHeader" [collapsedHeight]="'42px'" [expandedHeight]="'42px'">
                <mat-panel-title>
                  Origin
                </mat-panel-title>
                <mat-panel-description>
                  Origin details
                </mat-panel-description>
              </mat-expansion-panel-header>
    
              <div fxLayout="column" class="expansion-panel-cont-style">    
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                  <div fxFlex="50%">
                    <mat-form-field fxFlex="none">
                      <mat-label>Country</mat-label>                   
                        <mat-select [(ngModel)]="originSelectedCountry.CountryId" name="countrySelectOrigin" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let country of originCountries" [value]="country.CountryId">{{country.CountryName}}</mat-option>                      
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex="50%">
                    <mat-form-field>
                      <mat-label>Postal Code</mat-label>
                      <input name="originpostalcode" formControlName="originpostalcode"
                              (blur)="validateOriginPostalCode()" matInput required >
                    </mat-form-field>
                  </div>                                 
                </div>
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                  <div fxFlex="50%">
                    <mat-form-field>
                      <mat-label>State</mat-label>
                      <input name="originstatename" matInput formControlName="originstatename" required>
                    </mat-form-field>
                  </div>
                  <div fxFlex="50%">
                    <mat-form-field>
                      <mat-label>Pickup Date</mat-label>
                      <input (click)="formDatepickerRef.open()" (focus)="formDatepickerRef.open()" name="originpickupdate"
                        [matDatepicker]="formDatepickerRef" matInput readonly formControlName="originpickupdate">
                      <mat-datepicker-toggle [for]="formDatepickerRef" matSuffix></mat-datepicker-toggle>
                      <mat-hint>Click on the input or the datepicker icon</mat-hint>
                      <mat-datepicker #formDatepickerRef></mat-datepicker>
                    </mat-form-field>
                  </div>                                 
                </div>
                <mat-expansion-panel [expanded]="false" class="mt-5"  
                  (opened)="panelCollectionServiceState = true"
                  (closed)="panelCollectionServiceState = false">
                  <mat-expansion-panel-header [collapsedHeight]="'32px'" [expandedHeight]="'32px'">
                    <mat-panel-title>
                      <span matBadge="4" matBadgeOverlap="false">Collection Services</span>
                    </mat-panel-title>
                    <mat-panel-description>
                      {{collectionServicesDescription}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="expansion-panel-cont-style">
                    <div class="pt-1" fxLayout.lt-xs="column" fxLayout.gt-xs="row" fxLayoutGap="16px">
                      <mat-checkbox fxFlex="33%" [checked]="false" formControlName="commercial" color="warn" (change)="validateCollectionServices()">Commercial</mat-checkbox>
                      <mat-checkbox fxFlex="33%" [checked]="false" formControlName="residential" color="warn" (change)="validateCollectionServices()">Residential</mat-checkbox>
                      <mat-checkbox fxFlex="34%" [checked]="false" formControlName="limitedAccess" color="warn" (change)="validateCollectionServices()">Limited Access</mat-checkbox>
                    </div>
                    <hr style="margin: 0px;">
                    <div class="pt-1" fxLayout.lt-xs="column" fxLayout.gt-xs="row">
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="insidePickup" color="warn" (change)="validateCollectionServices()">Inside Pickup</mat-checkbox>
                      </div> 
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="liftgateRequiredAtPickup" color="warn" (change)="validateCollectionServices()">Liftgate Required at Pickup</mat-checkbox>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </div>
            </mat-expansion-panel>
    
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header [collapsedHeight]="'42px'" [expandedHeight]="'42px'">
                <mat-panel-title>
                  Destination
                </mat-panel-title>
                <mat-panel-description>
                  Destination details
                </mat-panel-description>
              </mat-expansion-panel-header>
    
              <div fxLayout="column" class="expansion-panel-cont-style">
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                  <div fxFlex="50%">
                    <mat-form-field fxFlex="none">
                      <mat-label>Country</mat-label>
                      <mat-select [(ngModel)]="destinationSelectedCountry.CountryId" name="countrySelectDestination"  [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let country of destinationCountries" [value]="country.CountryId">{{country.CountryName}}</mat-option>                      
                      </mat-select>
                    </mat-form-field>

                  </div>
                  <div fxFlex="50%">
                    <mat-form-field>
                      <mat-label>Postal Code</mat-label>
                      <input name="destinationpostalcode" (blur)="validateDestinationPostalCode()" matInput required formControlName="destinationpostalcode">
                    </mat-form-field>
                  </div>                                 
                </div>
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">                
                  <div fxFlex="50%">
                    <mat-form-field>
                      <mat-label>State</mat-label>
                      <input name="destinationstatename" matInput formControlName="destinationstatename" required>
                    </mat-form-field>
                  </div>                                 
                </div>
     
                <mat-expansion-panel [expanded]="false" class="mt-1"
                  (opened)="panelDeliveryServiceState = true"
                  (closed)="panelDeliveryServiceState = false">
                  <mat-expansion-panel-header [collapsedHeight]="'32px'" [expandedHeight]="'32px'">
                    <mat-panel-title>
                      <span matBadge="4" matBadgeOverlap="false">Delivery Services</span>
                    </mat-panel-title>
                    <mat-panel-description>
                      {{deliveryServicesDescription}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <div class="expansion-panel-cont-style">
                    <div class="pt-1" fxLayout.lt-xs="column" fxLayout.gt-xs="row" fxLayoutGap="16px">
                      <mat-checkbox fxFlex="33%" [checked]="false" formControlName="deliveryCommercial" color="warn" (change)="validateDeliveryServices()">Commercial</mat-checkbox>
                      <mat-checkbox fxFlex="33%" [checked]="false" formControlName="deliveryResidential" color="warn" (change)="validateDeliveryServices()">Residential</mat-checkbox>
                      <mat-checkbox fxFlex="34%" [checked]="false" formControlName="deliveryLimitedAccess" color="warn" (change)="validateDeliveryServices()">Limited Access</mat-checkbox>
                    </div>
                    <div class="pt-1" fxLayout.lt-xs="column" fxLayout.gt-xs="row" fxLayoutGap="16px">
                      <mat-checkbox fxFlex="33%" [checked]="false" formControlName="standard" color="warn" (change)="validateDeliveryServices()">Standard</mat-checkbox>
                      <mat-checkbox fxFlex="33%" [checked]="false" formControlName="guarantee" color="warn" (change)="validateDeliveryServices()">Guarantee</mat-checkbox>  
                      <div fxFlex="34%"></div>
                    </div>
                    <hr style="margin:0px;">
                    <div class="pt-1" fxLayout.lt-xs="column" fxLayout.gt-xs="row">
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="callBeforeDelivery" color="warn" (change)="validateDeliveryServices()">Call Before Delivery</mat-checkbox>
                      </div> 
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="appointmentRequired" color="warn" (change)="validateDeliveryServices()">Appointment Required</mat-checkbox>
                      </div>
                    </div>
                    <div class="pt-1" fxLayout.lt-xs="column" fxLayout.gt-xs="row">
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="protectfromFreezing" color="warn" (change)="validateDeliveryServices()">Protect from Freezing</mat-checkbox>
                      </div>
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="insideDelivery" color="warn" (change)="validateDeliveryServices()">Inside Delivery</mat-checkbox>
                      </div>
                    </div>
                    <div class="pt-1" fxLayout.lt-xs="column" fxLayout.gt-xs="row"> 
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="sortAndSegregate" color="warn" (change)="validateDeliveryServices()">Sort & Segregate</mat-checkbox>
                      </div>
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="blindShipment" color="warn" (change)="validateDeliveryServices()">Blind Shipment</mat-checkbox>
                      </div>
                    </div>
                    <div class="pt-1" fxLayout.lt-xs="column" fxLayout.gt-xs="row"> 
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="liftgateRequiredAtDelivery" color="warn" (change)="validateDeliveryServices()">Liftgate Required at Delivery</mat-checkbox>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </div>
            </mat-expansion-panel>

          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header [collapsedHeight]="'42px'" [expandedHeight]="'42px'">
              <mat-panel-title>
                Products
              </mat-panel-title>
              <mat-panel-description>
                Enter products
              </mat-panel-description>
            </mat-expansion-panel-header>
            
            <div formArrayName='products' *ngFor="let prod of formProducts.controls; let i = index"> 
              <hr *ngIf="i > 0" >
              <div [formGroupName]="i">
                <div fxLayout="column" class="pt-5" class="expansion-panel-cont-style">
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                    <div fxFlex="15%">
                      <mat-form-field fxFlex="none">
                        <mat-label>Pallet</mat-label>
                        <input matInput type="number" maxlength="4" min="0" formControlName="Pallets" required>
                      </mat-form-field>
                    </div>
                    <div fxFlex="15%">
                      <mat-form-field>
                        <mat-label>Pieces</mat-label>
                        <input matInput type="number" maxlength="4" min="0" formControlName="Pieces" required>
                      </mat-form-field>
                    </div>   
                    <div fxFlex="40%">
                      <mat-form-field>
                        <mat-label>Packages</mat-label>
                        <mat-select name="package" formControlName="Package" required>
                          <mat-option *ngFor="let package of packageTypes" [value]="package.PackageTypeID">{{package.PackageType}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div fxFlex="30%">
                      <mat-form-field>
                        <mat-label>Freight Class</mat-label>
                        <mat-select formControlName="ProductClass" required>
                          <mat-option value="50">50</mat-option>
                          <mat-option value="55">55</mat-option>
                          <mat-option value="50">60</mat-option>
                          <mat-option value="65">65</mat-option>
                          <mat-option value="70">70</mat-option>
                          <mat-option value="77.5">77.5</mat-option>
                          <mat-option value="85">85</mat-option>
                          <mat-option value="92.5">92.5</mat-option>
                          <mat-option value="100">100</mat-option>
                          <mat-option value="110">110</mat-option>
                          <mat-option value="125">125</mat-option>
                          <mat-option value="150">150</mat-option>
                          <mat-option value="175">175</mat-option>
                          <mat-option value="200">200</mat-option>
                          <mat-option value="250">250</mat-option>
                          <mat-option value="300">300</mat-option>
                          <mat-option value="400">400</mat-option>
                          <mat-option value="500">500</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
    
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">   
                    <div fxFlex="15%">
                      <mat-form-field>
                        <mat-label>NMFC</mat-label>
                        <input matInput type="number" maxlength="4" min="0" formControlName="NMFC">
                      </mat-form-field>
                    </div>              
                    <div fxFlex="15%">
                      <mat-form-field>
                        <mat-label>L</mat-label>
                        <input matInput type="number" maxlength="4" min="0" formControlName="Length" required>
                      </mat-form-field>
                    </div>  
                    <div fxFlex="15%">
                      <mat-form-field>
                        <mat-label>W</mat-label>
                        <input matInput type="number" maxlength="4" min="0" formControlName="Width" required>
                      </mat-form-field>
                    </div>  
                    <div fxFlex="15%">
                      <mat-form-field>
                        <mat-label>H</mat-label>
                        <input matInput type="number" maxlength="4" min="0" formControlName="Height" required>
                      </mat-form-field>
                    </div>
                    <div fxFlex="15%">
                      <mat-form-field>
                        <mat-label>PCF</mat-label>
                        <input matInput type="number" maxlength="4" min="0" formControlName="PCF">
                      </mat-form-field>
                    </div>
                    <div fxFlex="20%">
                      <mat-form-field>
                        <mat-label>Total Weight</mat-label>
                        <input matInput type="number" maxlength="4" min="0" formControlName="Weight" required>
                      </mat-form-field>
                    </div>
                    
                  </div>
    
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px" class="pb-5">                     
                    <div fxLayoutAlign="end center">
                      <ng-container *ngIf="formProducts.length > 1">
                        <button id="{{'remoeMinus'+i}}" (click)="removeNewProdField(i)" 
                                mat-button type="button">Remove</button>
                      </ng-container>
                      <ng-container>
                        <button id="{{'addrec'+i}}" (click)="addNewProdField()" 
                                mat-raised-button type="button" [disabled]="quickQuoteFormGroup.get('products').invalid" >Add New</button>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            
          </mat-expansion-panel>
        </mat-accordion>

          <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px" class="py-2 pr-5">
            <button (click)="clearQuoteAndFields()" mat-button type="button">Clear</button>
            <button (click)="getQuote()" color="warn" mat-raised-button type="button" [disabled]="!myForm.valid" >Get Quote</button>
          </div>
        </div>
      </form>
      

    </div>

    <div class="card" fxFlex="50%">
      <div>
        <!-- <div #mapContainer id="map"></div> -->
        <div class="fill-current text-center">                   
          <div class="spinnerSection" *ngIf="getQuoteButtonClicked && showSpinner">
            <div class="center-me">
              <mat-progress-spinner diameter="50" color="warn" mode="indeterminate"></mat-progress-spinner>
              <p>Loading...</p>
            </div>
          </div>    

          <div *ngIf="getQuoteButtonClicked && ratesCounter > 0 && !showSpinner">
            <div fxLayout="row" fxLayoutGap="8px" class="py-2 freightRatesView">
                <div><h2 class="allRatesTab-labelText">ALL QUOTES ({{ratesCounter}})</h2></div>
            </div>               
            <mat-accordion class="rates-accordion" multi> 
              <div *ngFor="let rate of ratesFiltered">              
                <mat-expansion-panel [expanded]="false" >
                  <mat-expansion-panel-header class="ratesAccordionExpansionHeader">
                    <!-- <div class="main-rate-container"> -->
                      <div class="call-outs-container">
                        <div class="call-out freightRate-carrierInfo">
                          <mat-icon [icIcon]="icBaselineImageNotSupported"></mat-icon>
                        </div>
                        <div class="call-out freightRate-carrierInfo">
                          <div>
                            <div fxLayout="column">
                              <div class="CarrierName">
                                {{rate.CarrierName}} 
                              </div>
                              <div class="inlineButton">
                                {{rate.ServiceLevel}} 
                              </div>
                            </div>                    
                          </div>                  
                        </div>
                        <div class="call-out freightRate-rateInfo">
                          <div>
                            <div fxLayout="column">
                              <div>
                                <div fxFlex="10%" class="freightRate-rateInfo-icon">
                                  <mat-icon [icIcon]="icTwotoneCalendarToday"></mat-icon>                     
                                </div>
                                <div fxFlex="90%" class="freightRate-rateInfo-text">                    
                                   Est. {{rate.TransitTime}} Transit Day(s)
                                </div>
                              </div>
                              <div>
                                Carrier Type: {{rate.CarrierType}}
                              </div>
                              <div>
                                <hr />
                              </div>
                              <div>
                                Max Weight: {{clientTLWeightLimit}}
                              </div>
                              <div>
                                {{rate.MaxLenghtShipmentLimit}}
                              </div>
                              <div>
                                {{rate.MaxHeightShipmentLimit}} 
                              </div>
                            </div>                    
                          </div>    
                          
                        </div>
                        <div class="call-out">
                          <div>
                            <div fxLayout="column">
                              <div>
                                <span class="numeral numeral--large">
                                  <span class="numeral-affix numeral-affix--prefix">$</span>
                                  {{rate.CarrierCost}}
                                </span>
                              </div>
                              <div>                 
                                <button color="warn" class="button--small" mat-raised-button type="button" >Ship it now</button>           
                              </div>
                            </div>
                          </div>                                          
                        </div>
                        <!--<div class="call-out">                 
                           <button color="warn" class="button--small" mat-raised-button type="button" >Ship it now</button>            
                        </div>-->
                      </div>
                      <!-- <div>
                        <hr />
                      </div>              
                      <div class="shipment-limitation-container">
                        <div class="shipment-limitation-call-out freightRate-carrierShipLimitInfo">
                          Max Weight: {{clientTLWeightLimit}}
                        </div>
                        <div class="shipment-limitation-call-out freightRate-carrierShipLimitInfo">
                          {{rate.MaxLenghtShipmentLimit}}
                        </div>
                        <div class="shipment-limitation-call-out freightRate-carrierShipLimitInfo">
                          {{rate.MaxHeightShipmentLimit}}
                        </div> 
                      </div>-->           
                    <!-- </div> -->
                  </mat-expansion-panel-header>
                  <div>
                    <p>content</p>
                  </div>
                </mat-expansion-panel>
                                                     
              </div>
            </mat-accordion>    
          </div>
          
          <ng-template [ngIf]="!getQuoteButtonClicked">              
              <img [src]="rightPanelImage" >
          </ng-template>
         
        </div>
      </div>      
    </div>
  </div>
</div>