<!-- <vex-secondary-toolbar current="Quick Quote">
  <vex-breadcrumbs [crumbs]="['Shipment', 'Quick Quote']" fxFlex="auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon [icIcon]="icMoreVert"></mat-icon>
  </button>
</vex-secondary-toolbar> -->

<div [@stagger]="true" class="p-gutter qcForms" vexContainer>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px" class="QuickQuoteMainDiv">
    <div @fadeInUp class="card" fxFlex="50%">
      <!-- <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
        <button color="primary" mat-stroked-button type="button" class="AddShipmentButtonStyle" (click)="addShipmentButton()">
          <ic-icon [icon]="baselineAddCircleOutline"
                   class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2"
                   inline="true"
                   size="18px"></ic-icon>
          <span>Add a shipment</span>
        </button>
      </div> -->
      <form #myForm="ngForm" [formGroup]="quickQuoteFormGroup">
        <div fxLayout="column">
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header class="expansionHeader" [collapsedHeight]="'42px'" [expandedHeight]="'42px'">
                <mat-panel-title>
                  Origin
                </mat-panel-title>
                <mat-panel-description>
                  Origin details
                </mat-panel-description>
              </mat-expansion-panel-header>
    
              <div fxLayout="column" class="expansion-panel-cont-style">    
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                  <div fxFlex="50%">
                    <mat-form-field fxFlex="none">
                      <mat-label>Country</mat-label>                   
                        <mat-select [(ngModel)]="originSelectedCountry.CountryId" name="countrySelectOrigin" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let country of originCountries" [value]="country.CountryId">{{country.CountryName}}</mat-option>                      
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex="50%">
                    <mat-form-field>
                      <mat-label>Postal Code</mat-label>
                      <input name="originpostalcode" 
                              formControlName="originpostalcode"
                              matInput required
                              [matAutocomplete]="pcoAutoComplete"
                              (keydown.tab)="validateOriginPostalCode($event)">
                      <mat-autocomplete #pcoAutoComplete="matAutocomplete" (optionSelected)="pcoAutoCompleteSelected($event)">
                        <mat-option *ngFor="let option of pcoAutoCompleteOptions | async" [value]="option">
                          {{option.PostalCode}} - {{option.CityName}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>                                 
                </div>
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                  <div fxFlex="50%">
                    <mat-form-field>
                      <mat-label>State</mat-label>
                      <input name="originstatename" matInput formControlName="originstatename" required>
                    </mat-form-field>
                  </div>
                  <div fxFlex="50%">
                    <mat-form-field>
                      <mat-label>Pickup Date</mat-label>
                      <input (click)="formDatepickerRef.open()" (focus)="formDatepickerRef.open()" name="originpickupdate"
                        [matDatepicker]="formDatepickerRef" matInput readonly formControlName="originpickupdate">
                      <mat-datepicker-toggle [for]="formDatepickerRef" matSuffix></mat-datepicker-toggle>
                      <mat-hint>Click on the input or the datepicker icon</mat-hint>
                      <mat-datepicker #formDatepickerRef></mat-datepicker>
                    </mat-form-field>
                  </div>                                 
                </div>
                <mat-expansion-panel [expanded]="false" class="origin-services-expansion-panel"  
                  (opened)="panelCollectionServiceState = true"
                  (closed)="panelCollectionServiceState = false">
                  <mat-expansion-panel-header [collapsedHeight]="'32px'" [expandedHeight]="'32px'">
                    <mat-panel-title>
                      <span matBadge="4" matBadgeOverlap="false">Collection Services</span>
                    </mat-panel-title>
                    <mat-panel-description>
                      {{collectionServicesDescription}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="expansion-panel-cont-style">
                    <div class="pt-1" fxLayout.lt-xs="column" fxLayout.gt-xs="row">
                      <div fxFlex="50%">
                        <mat-checkbox fxFlex="50%" [checked]="false" formControlName="residential" color="warn" (change)="validateCollectionServices($event,'REP')" value=37>Residential</mat-checkbox>
                      </div> 
                      <div fxFlex="50%">
                        <mat-checkbox fxFlex="50%" [checked]="false" formControlName="limitedAccess" color="warn" (change)="validateCollectionServices($event,'LAP')" value=449>Limited Access</mat-checkbox>
                      </div>
                    </div>                    
                    <hr style="margin: 1%;">
                    <div class="pt-1" fxLayout.lt-xs="column" fxLayout.gt-xs="row">
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="insidePickup" color="warn" (change)="validateCollectionServices($event,'INP')" value=35>Inside Pickup</mat-checkbox>
                      </div> 
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="liftgateRequiredAtPickup" color="warn" (change)="validateCollectionServices($event,'LFT')" value=1>Liftgate Required at Pickup</mat-checkbox>
                      </div>
                    </div>
                    <div class="pt-1" fxLayout.lt-xs="column" fxLayout.gt-xs="row">
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="additionalInsured" color="warn" (change)="validateCollectionServices($event,'AIA')" value=3636>Additional Insured</mat-checkbox>
                      </div> 
                      <div fxFlex="50%">
                        
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </div>
            </mat-expansion-panel>
    
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header [collapsedHeight]="'42px'" [expandedHeight]="'42px'">
                <mat-panel-title>
                  Destination
                </mat-panel-title>
                <mat-panel-description>
                  Destination details
                </mat-panel-description>
              </mat-expansion-panel-header>
    
              <div fxLayout="column" class="expansion-panel-cont-style">
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                  <div fxFlex="50%">
                    <mat-form-field fxFlex="none">
                      <mat-label>Country</mat-label>
                      <mat-select [(ngModel)]="destinationSelectedCountry.CountryId" name="countrySelectDestination"  [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let country of destinationCountries" [value]="country.CountryId">{{country.CountryName}}</mat-option>                      
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex="50%">
                    <mat-form-field>
                      <mat-label>Postal Code</mat-label>
                      <input name="destinationpostalcode"
                        formControlName="destinationpostalcode"
                        matInput required 
                        [matAutocomplete]="pcdAutoComplete"
                        (keydown.tab)="validateDestinationPostalCode($event)">
                        <mat-autocomplete #pcdAutoComplete="matAutocomplete" (optionSelected)="pcdAutoCompleteSelected($event)">
                          <mat-option *ngFor="let option of pcdAutoCompleteOptions | async" [value]="option">
                            {{option.PostalCode}} - {{option.CityName}}
                          </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                  </div>                                 
                </div>
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">                
                  <div fxFlex="50%">
                    <mat-form-field>
                      <mat-label>State</mat-label>
                      <input name="destinationstatename" matInput formControlName="destinationstatename" required>
                    </mat-form-field>
                  </div>                                 
                </div>
     
                <mat-expansion-panel [expanded]="false" class="mt-1"
                  (opened)="panelDeliveryServiceState = true"
                  (closed)="panelDeliveryServiceState = false">
                  <mat-expansion-panel-header [collapsedHeight]="'32px'" [expandedHeight]="'32px'">
                    <mat-panel-title>
                      <span matBadge="4" matBadgeOverlap="false">Delivery Services</span>
                    </mat-panel-title>
                    <mat-panel-description>
                      {{deliveryServicesDescription}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <div class="expansion-panel-cont-style">
                    <div class="pt-1" fxLayout.lt-xs="column" fxLayout.gt-xs="row">
                      <div fxFlex="50%">
                        <mat-checkbox fxFlex="50%" [checked]="false" formControlName="deliveryResidential" color="warn" (change)="validateDeliveryServices($event,'RES')" value=4>Residential</mat-checkbox>
                      </div> 
                      <div fxFlex="50%">
                        <mat-checkbox fxFlex="50%" [checked]="false" formControlName="deliveryLimitedAccess" color="warn" (change)="validateDeliveryServices($event,'LAD')" value=443>Limited Access</mat-checkbox>
                      </div>
                    </div>
                    <div class="pt-1" fxLayout.lt-xs="column" fxLayout.gt-xs="row">
                      <div fxFlex="50%">
                        <mat-checkbox fxFlex="50%" [checked]="false" formControlName="standard" color="warn" (change)="validateDeliveryServices($event,'STD')" value=1>Standard</mat-checkbox>
                      </div> 
                      <div fxFlex="50%">
                        <mat-checkbox fxFlex="50%" [checked]="false" formControlName="guarantee" color="warn" (change)="validateDeliveryServices($event,'GTS')" value=616>Guarantee</mat-checkbox>                      
                      </div>
                    </div>                    
                    <hr style="margin: 1%;">
                    <div class="pt-1" fxLayout.lt-xs="column" fxLayout.gt-xs="row">
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="callBeforeDelivery" color="warn" (change)="validateDeliveryServices($event,'CBD')" value=3396>Call Before Delivery</mat-checkbox>
                      </div> 
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="appointmentRequired" color="warn" (change)="validateDeliveryServices($event,'APT')" value=31>Appointment Required</mat-checkbox>
                      </div>
                    </div>
                    <div class="pt-1" fxLayout.lt-xs="column" fxLayout.gt-xs="row">
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="protectfromFreezing" color="warn" (change)="validateDeliveryServices($event,'PFF')" value=813>Protect from Freezing</mat-checkbox>
                      </div>
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="insideDelivery" color="warn" (change)="validateDeliveryServices($event,'INS')" value=3>Inside Delivery</mat-checkbox>
                      </div>
                    </div>
                    <div class="pt-1" fxLayout.lt-xs="column" fxLayout.gt-xs="row"> 
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="sortAndSegregate" color="warn" (change)="validateDeliveryServices($event,'SOD')" value=39>Sort & Segregate</mat-checkbox>
                      </div>
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="blindShipment" color="warn" (change)="validateDeliveryServices($event,'BLS')" value=794>Blind Shipment</mat-checkbox>
                      </div>
                    </div>
                    <div class="pt-1" fxLayout.lt-xs="column" fxLayout.gt-xs="row"> 
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="liftgateRequiredAtDelivery" color="warn" (change)="validateDeliveryServices($event,'LGD')" value=36>Liftgate Required at Delivery</mat-checkbox>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </div>
            </mat-expansion-panel>

          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header [collapsedHeight]="'42px'" [expandedHeight]="'42px'">
              <mat-panel-title>
                Products
              </mat-panel-title>
              <mat-panel-description>
                Enter products
              </mat-panel-description>
            </mat-expansion-panel-header>
            
            <div formArrayName='products' *ngFor="let prod of formProducts.controls; let i = index"> 
              <hr *ngIf="i > 0" >
              <div [formGroupName]="i">
                <div fxLayout="column" class="pt-5" class="expansion-panel-cont-style">
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                    <div fxFlex="30%">
                      <mat-form-field>
                        <mat-label>Description</mat-label>
                        <input matInput type="text" maxlength="150" formControlName="Description"
                                (keypress)="onKeypressProdDesc($event, i)"
                                (focus)="focusFunction(i)"
                                [matAutocomplete]="pAutoComplete" 
                                (keydown.tab)="validateProductByClient($event, i)">
                                <mat-autocomplete [panelWidth]="350" #pAutoComplete="matAutocomplete" (optionSelected)="pAutoCompleteSelected($event, i)">
                                  <mat-option *ngFor="let option of pAutoCompleteOptions | async" [value]="option.ProductID" class="autoCompleteStyleControl">
                                    <div class="divAutoCompleteStyleControlProdName">
                                      <span>Name:</span>
                                      <span title={{option.Description}}>{{option.Description}}</span>
                                    </div>  
                                    <div class="divAutoCompleteStyleControl">
                                      <span>Class:</span>
                                      <span>{{option.Class}}</span>
                                    </div>  
                                    <div class="divAutoCompleteStyleControl">
                                      <span>NMFC:</span>
                                      <span>{{option.NMFC}}</span>
                                    </div> 
                                    <div class="divAutoCompleteStyleControl">
                                      <span>Weight:</span>
                                      <span>{{option.Weight}}</span>
                                    </div>  
                                    <div class="divAutoCompleteStyleControl">
                                      <span>Dimension:</span>
                                      <span>{{option.Height}} x {{option.Lenght}} x {{option.Width}}</span>
                                    </div>
                                    <hr>
                                  </mat-option>
                                </mat-autocomplete>
                      </mat-form-field>
                    </div>
                    <div fxFlex="15%">
                      <mat-form-field>
                        <mat-label>Pallet</mat-label>
                        <input matInput type="number" maxlength="4" min="0" formControlName="Pallets" (change)="onChangeCalculatePCF(i)" required>
                      </mat-form-field>
                    </div>
                    <div fxFlex="15%">
                      <mat-form-field>
                        <mat-label>Pieces</mat-label>
                        <input matInput type="number" maxlength="4" min="0" formControlName="Pieces">
                      </mat-form-field>
                    </div>   
                    <div fxFlex="15%">
                      <mat-form-field>
                        <mat-label>Packages</mat-label>
                        <mat-select name="package" formControlName="PackageTypeID" required>
                          <mat-option *ngFor="let package of packageTypes" [value]="package.PackageTypeID">{{package.PackageType}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div fxFlex="20%">
                      <mat-form-field>
                        <mat-label>Class</mat-label>
                        <mat-select formControlName="ProductClass" required>
                          <mat-option value="50">50</mat-option>
                          <mat-option value="55">55</mat-option>
                          <mat-option value="60">60</mat-option>
                          <mat-option value="65">65</mat-option>
                          <mat-option value="70">70</mat-option>
                          <mat-option value="77.5">77.5</mat-option>
                          <mat-option value="85">85</mat-option>
                          <mat-option value="92.5">92.5</mat-option>
                          <mat-option value="100">100</mat-option>
                          <mat-option value="110">110</mat-option>
                          <mat-option value="125">125</mat-option>
                          <mat-option value="150">150</mat-option>
                          <mat-option value="175">175</mat-option>
                          <mat-option value="200">200</mat-option>
                          <mat-option value="250">250</mat-option>
                          <mat-option value="300">300</mat-option>
                          <mat-option value="400">400</mat-option>
                          <mat-option value="500">500</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
    
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">   
                    <div fxFlex="15%">
                      <mat-form-field>
                        <mat-label>NMFC</mat-label>
                        <input matInput maxlength="50" formControlName="NmfcNumber">
                      </mat-form-field>
                    </div>              
                    <div fxFlex="15%">
                      <mat-form-field>
                        <mat-label>L</mat-label>
                        <input matInput type="number" maxlength="4" min="0" formControlName="Length" (change)="onChangeCalculatePCF(i)" required class="removeArrowsNumberInput">
                      </mat-form-field>
                    </div>  
                    <div fxFlex="15%">
                      <mat-form-field>
                        <mat-label>W</mat-label>
                        <input matInput type="number" maxlength="4" min="0" formControlName="Width" (change)="onChangeCalculatePCF(i)" required class="removeArrowsNumberInput">
                      </mat-form-field>
                    </div>  
                    <div fxFlex="15%">
                      <mat-form-field>
                        <mat-label>H</mat-label>
                        <input matInput type="number" maxlength="4" min="0" formControlName="Height" (change)="onChangeCalculatePCF(i)" required class="removeArrowsNumberInput">
                      </mat-form-field>
                    </div>
                    <div fxFlex="15%">
                      <mat-form-field>
                        <mat-label>PCF</mat-label>
                        <input matInput type="number" maxlength="4" min="0" formControlName="PCF" class="removeArrowsNumberInput">
                      </mat-form-field>
                    </div>
                    <div fxFlex="20%">
                      <mat-form-field>
                        <mat-label>Total Weight</mat-label>
                        <input matInput type="number" maxlength="4" min="0" formControlName="Weight" (change)="onChangeCalculatePCF(i)" required>
                      </mat-form-field>
                    </div>  
                  </div>
    
                  <div fxLayout="row" fxLayout.lt-md="column"> 
                    <div fxFlex="40%" class="addToProductMaster">
                      <mat-checkbox [checked]="false" formControlName="SaveProduct" color="primary">Add to my saved products</mat-checkbox>
                    </div>                    
                    <div fxFlex="20%">
                      <mat-checkbox [checked]="false" formControlName="Stackable" color="warn">Stackable</mat-checkbox>
                    </div>
                    <div fxFlex="20%">
                      <mat-checkbox [checked]="false" formControlName="HazMat" color="warn">Hazmat</mat-checkbox>
                    </div>  
                  </div>
                  <div fxLayoutAlign="end center">
                    <ng-container *ngIf="formProducts.length > 1">
                      <button id="{{'remoeMinus'+i}}" (click)="removeNewProdField(i)" 
                              mat-button type="button">Remove</button>
                    </ng-container>
                    <ng-container>
                      <button id="{{'addrec'+i}}" (click)="addNewProdField()" 
                              mat-raised-button type="button" [disabled]="quickQuoteFormGroup.get('products').invalid" >Add New</button>
                    </ng-container>               
                  </div>                
                </div>
              </div>
            </div>
          </mat-expansion-panel>
          </mat-accordion>

          <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px" class="py-2 pr-5">            
            <button [disabled]=showSpinner (click)="clearQuoteAndFields()" mat-button type="button">Clear</button>
            <button [disabled]=showSpinner (click)="getQuote()" color="warn" mat-raised-button type="button" [disabled]="!myForm.valid" >Get Quote</button>
            <mat-form-field appearance="outline" class="vex-flex-form-field" color="primary" fxFlex=18>
              <mat-label>Show top Carriers</mat-label>
              <input matInput type="number" maxlength="2" min="1" max="25" formControlName="showCarriers" required>
            </mat-form-field>                 
            <!-- <div *ngIf="showSpinner" class="spinnerSection">
              <div class="center-me">
                <mat-progress-spinner diameter="20" color="warn" mode="indeterminate"></mat-progress-spinner>
              </div>
            </div> -->
          </div>
          <!--Start 08/07/2021-->
          <div fxLayout="row" fxLayoutGap="8px" class="py-2 pr-5" style="margin-right: 0px; padding-right: 0px;">
            <div fxFlex="2%"></div>
            <div fxFlex="98%" style="text-align: left;">
              <label>For Expedited/Time critical quotes, Volume LTL, Truckload or any other specialty quotes, please contact your R2 rep or LTL@r2logistics.com</label>
            </div>            
          </div>
          <!--End 08/07/2021-->
        </div>
      </form>
    </div>

    <div class="card" fxFlex="50%">
      <div>
        <!-- <div #mapContainer id="map"></div> -->
        <div class="fill-current text-center">                   
          <div class="spinnerSection" *ngIf="getQuoteButtonClicked && showSpinner">
            <div class="center-me">
              <mat-progress-spinner diameter="50" color="warn" mode="indeterminate"></mat-progress-spinner>
              <p>{{spinnerMessage}}</p>
            </div>
          </div>    

          <div *ngIf="getQuoteButtonClicked && !showSpinner">
            <div fxLayout="row" fxLayoutGap="8px" class="py-2 freightRatesView">
                <div><h2 class="allRatesTab-labelText">ALL QUOTES ({{ratesCounter}})</h2></div>
                <div *ngIf="ratesCounter == null || ratesCounter == 0" class="noRatesFoundText">
                  <label>{{noRatesFoundText}}</label>
                </div>
            </div>

            <div *ngIf="ratesCounter > 0" class="ratesAccordionSection">
              <mat-accordion class="rates-accordion" multi> 
                <div *ngFor="let rate of ratesFiltered; let j = index">              
                  <mat-expansion-panel [expanded]="false" (opened)="addRateOpened(j)" (closed)="removeRateClosed(j)">
                    <mat-expansion-panel-header class="ratesAccordionExpansionHeader">
                      <!-- <div class="main-rate-container"> -->
                        <div class="call-outs-container">
                          <div class="call-out freightRate-carrierInfo">
                            <img src="{{carrierImageUrl}}{{rate.CarrierID}}&Ticket={{securityToken}}" alt="logo" width="80" height="40">
                            <!-- <mat-icon [icIcon]="icBaselineImageNotSupported"></mat-icon> -->
                          </div>
                          <div class="call-out freightRate-carrierInfo">
                            <div>
                              <div fxLayout="column">
                                <div class="CarrierName">
                                  {{rate.CarrierName}} 
                                </div>
                                <div class="inlineButton">
                                  {{rate.ServiceLevel}} 
                                </div>
                              </div>                    
                            </div>                  
                          </div>
                          <div class="call-out freightRate-rateInfo">
                            <div>
                              <div fxLayout="column">
                                <div>
                                  <div fxFlex="10%" class="freightRate-rateInfo-icon">
                                    <mat-icon [icIcon]="icTwotoneCalendarToday"></mat-icon>                     
                                  </div>
                                  <div fxFlex="90%" class="freightRate-rateInfo-text">                    
                                     Est. {{rate.TransitTime}} Transit Day(s)
                                  </div>
                                </div>
                                <div>
                                  {{rate.ETA}}
                                </div>
                                <div>
                                  Carrier Type: {{rate.CarrierType}}
                                </div>
                                <div>
                                  Miles: {{rate.Miles}}
                                </div>
                                <div>
                                  <hr />
                                </div>
                                <div>
                                  Max Weight: {{clientTLWeightLimit}}
                                </div>
                                <div>
                                  {{rate.MaxLenghtShipmentLimit}}
                                </div>
                                <div>
                                  {{rate.MaxHeightShipmentLimit}} 
                                </div>
                              </div>                    
                            </div>    
                            
                          </div>
                          <div class="call-out">
                            <div>
                              <div fxLayout="column">
                                <div>
                                  <span id="{{'CarrierCostDiv'+ j}}" class="numeral numeral--large" [ngClass]="{'CarrierCostDivStyle': isRateOpened(j)}">
                                    <span class="numeral-affix numeral-affix--prefix">$</span>
                                    {{rate.TotalCostWithOutTrueCost}}
                                  </span>
                                </div>
                                <div *ngIf="rate.CarrierTypeID !== 3">                 
                                  <button color="warn" class="button--small" mat-raised-button type="button" (click)="shipQuote(j)">Ship it now</button>           
                                </div>
                              </div>
                            </div>                                          
                          </div>                          
                        </div>
                        
                    </mat-expansion-panel-header>
                    <div>
                      <div class="inner-rates-data-container">
                        <div class="inner-rate-column freightRate-rateInfo">
                          <div fxLayout="column">
                            <div>
                              <b>Carrier Liability:</b> ${{rate.OldInsuranceCost}}/${{rate.NewInsuranceCost}} Max
                            </div>
                            <div>
                              Does Not Include Accessorial Restrictions or FAKS
                            </div>
                            <div>
                              <hr />
                            </div>
                            <div>
                              <b>Rate Type:</b> {{rate.RateType}}
                            </div>
                            <div>
                              <b>Payment Type:</b> {{rate.PaymentType}}
                            </div>                          
                          </div>
                        </div>                                           
                        <div class="inner-rate-column freightRate-rateInfo">
                          <div fxLayout="column">
                            <div>
                              <b>Discount:</b> ${{rate.Discount}}
                            </div>
                            <div>
                              <b>Freight:</b> ${{rate.FreightCost}}
                            </div>
                            <div>
                              <b>Fuel:</b> ${{rate.FuelCost}}
                            </div>
                          </div>                         
                        </div>
                        <div class="inner-rate-column freightRate-rateInfo"> 
                          <div fxLayout="column">
                            <div *ngFor="let accesorial of rate.Accessorials">
                              <div>
                                {{accesorial.AccessorialDescription}}: ${{accesorial.AccessorialCharge}}
                              </div>                           
                            </div> 
                            <div>
                              <b>Total Accesorial(s): ${{rate.TotalAccCostWithOutTrueCost}}</b>
                            </div> 
                          </div>                                                                         
                        </div>                     
                      </div>                      
                      <div class="inner-rates-options-container">
                          <div class="inner-rate-options-column" [ngClass]="{'inner-rate-options-column_with_email_input': sendEmailClicked}">
                            <button mat-icon-button matTooltip="Save Quote" (click)="saveQuote(j)">
                              <mat-icon [icIcon]="outlineSave"></mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Print" (click)="printQuote(j)">
                              <mat-icon [icIcon]="outlinePrint"></mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Send Email" (click)="sendEmailClicked = true">
                              <mat-icon [icIcon]="outlineEmail"></mat-icon>
                            </button>
                                                                                                           
                          </div>
                          <div class="inner-rate-options-column sendEmailInputStyle" *ngIf="sendEmailClicked">
                              <div >
                                <mat-form-field appearance="standard" color="primary" style="width: 75%;" >
                                  <mat-label>Email</mat-label>
                                  <input matInput type="email" required [(ngModel)]="emailSendDocs" (ngModelChange)="ValidateEmail()"
                                          (keydown.tab)="ValidateEmail()">
                                </mat-form-field>
                               
                                <div>
                                  <button color="primary" class="mr-1 mat-stroked-sent-email-button" mat-stroked-button type="button"  [disabled]="!enableSendEmailButton" (click)="SendDocsByEmail(j,true)">Send</button>
                                  <button color="primary"  class="mat-stroked-sent-email-button" mat-stroked-button type="button" (click)="SendDocsByEmail(j,false)">Cancel</button>                                   
                                </div>
                              </div>                                                            
                          </div>
                      </div>
                      <hr class="rateAddressesSplitLine" />
                      <div class="inner-rates-addresses-container">                        
                        <div class="inner-rate-addresses-column">
                          <div fxLayout="column">
                            <div>
                              Origin Term: {{rate.OriginTerminalCity}} | {{rate.OriginTerminalAddress1}} | {{rate.OriginTerminalCity}} {{rate.OriginTerminalState}} {{rate.OriginTerminalZip}} | (Ph.) {{rate.OriginTerminalPhoneNo}} | (Free Ph.) {{rate.OriginTerminalFreePhone}} | (Fax) {{rate.OriginTerminalFaxNo}}
                            </div>
                            <div>
                              Destination Term: {{rate.DestTerminalCity}} | {{rate.DestTerminalAddress1}} | {{rate.DestTerminalCity}} {{rate.DestTerminalState}} {{rate.DestTerminalZip}} | (Ph.) {{rate.DestTerminalPhoneNo}} | (Free Ph.) {{rate.DestTerminalFreePhone}}
                            </div>
                          </div>
                          
                        </div>  
                      </div>   
                    </div>
                  </mat-expansion-panel>
                                                       
                </div>
              </mat-accordion>
            </div>               
                
          </div>
          
          <ng-template [ngIf]="!getQuoteButtonClicked"> 
              
              <img *ngIf="!IsVideoShowingOrNot" [alt]="promotionImageTitle" [src]="promotionImageByClient" style="height: 100%; width:100%">

              <mat-video *ngIf="IsVideoShowingOrNot" [src]="promotionVideoImageByClient" 
                        [autoplay]="true" [preload]="true" [loop]="true" [fullscreen]="false" [download]="false" [muted]="true"
                        color="accent" spinner="spin"
                        style="height: 100%; width: 100%;"
                        >
              </mat-video>
              
          </ng-template>
         
        </div>
      </div>      
    </div>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
      <!-- <p>Quotes Grid</p> -->
  </div>
</div>