.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;    
  } 
  
  #map {
    height: 500px;
    width: 100%;
   }

   .example-headers-align .mat-form-field {   
        width: 100%;
    }

    // .example-headers-align .mat-form-field {
    //     font: 400 14px/1.0 var(--font);
    //     letter-spacing: normal;
    //   }
    
    // .expansionHeader .mat-expansion-indicator::after {
    //     border-color: red;
    // }    

    .qcForms{
        padding: 0.2rem;
    }    

    .freightRate-carrierInfo {
        padding-left: .9375rem;
        font-weight: 700;
        font-size: 0.6rem;
    }

    .freightRate-carrierInfo mat-icon{
        color: #b8b8b8;
    }

    .freightRate-rateInfo {       
        font-size: 0.6rem;
        text-align: start;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .freightRate-rateInfo-icon {       
        height: 1.25rem;
        margin-right: .625rem;
        color: #b8b8b8;
        flex: 0;
    }

    .freightRate-rateInfo-icon mat-icon{
        font-size: 1rem;
    }

    

    .freightRate-rateInfo-text {
        font-size: 0.6rem;
        flex: 1;
    }
    

    // .CarrierName{
    //     text-align: left;
    // }

    .numeral {
        font-weight: 900;
        letter-spacing: .025rem;
    }

    .numeral--large {
        font-size: 1.38rem;
    }

    .numeral-affix {
        font-size: 0.5em;
        position: relative;
        top: -0.69em;
    }

    // .button--small, .linkButton--small {
    //     height: 2.6875rem;
    //     padding: 0 1.25rem;
    //     min-width: 9.25rem;
    // }
    
    .inlineButton {
        display: inline-block;
        text-transform: uppercase;
        color: #02aaf3;
        // cursor: pointer;
        font-weight: 700;
        font-size: 0.5rem;
        letter-spacing: .1rem;
        -webkit-transition: color 0.15s ease-in-out;
        transition: color 0.15s ease-in-out;
        max-width: 100%;
        border: none;
        //text-align: left;
    }

    .freightRatesView{
        border-bottom: .1875rem solid #02aaf3;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .allRatesTab-labelText {
        display: inline-block;
        border-radius: 0.125rem;        
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1rem;
    }

.call-outs-container {
    max-width: 1400px;
    // margin: 40px auto 0 auto;
    border-block-end: 1px solid #ddd;
    margin-top: 2%;
  }

  .call-out:nth-child(1) {
    padding: 2px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 10%;
    order: 0;
  }

  .call-out:nth-child(2) {
    padding: 2px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 22.5%;
    text-align: center;
  }

  .call-out {
    padding: 2px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 22.5%;
    overflow-wrap: anywhere;
    justify-content: center;
    align-items: center;
  }

  .expansion-panel-cont-style{
        font-size: 12px;  
        margin-bottom: -1%;      
    }   

  .mat-expansion-panel-header{
      font-size: 12px;
      font-weight: 600;
  }

  .mat-form-field {
        font-size: 12px;
        margin-bottom: -2%;
  }

  .mat-expansion-panel-header-description{
    font-weight: 400;
  }

  .mat-expansion-panel{
    font-size: 12px;
  }

  .mat-expansion-panel-spacing {
    margin: 5px 0;
    }
    
    

  @media (min-width: 900px) {
    .call-outs-container {
      display: flex;
      justify-content: space-between;
    }

    .call-out:nth-child(2) {       
        text-align: start;
      }
  }