@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// .QuickQuoteMainDiv{
//   max-height: 750px;
// }

.material-icons{
  font-family: 'Material Icons' !important;
}

.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;    
  } 
  
  #map {
    height: 500px;
    width: 100%;
   }

   .example-headers-align .mat-form-field {   
        width: 100%;
    }

    // .example-headers-align .mat-form-field {
    //     font: 400 14px/1.0 var(--font);
    //     letter-spacing: normal;
    //   }
    
      

    .qcForms{
        padding: 0.2rem;
    }    

    .freightRate-carrierInfo {
        padding-left: .9375rem;
        font-weight: 700;
        font-size: 0.6rem;
    }

    .freightRate-carrierInfo mat-icon{
        color: #b8b8b8;
    }

    .freightRate-rateInfo {       
        font-size: 0.6rem;
        text-align: start;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .freightRate-rateInfo-icon {       
        height: 1.25rem;
        margin-right: .625rem;
        color: #b8b8b8;
        flex: 0;
    }

    .freightRate-rateInfo-icon mat-icon{
        font-size: 1rem;
    }

    

    .freightRate-rateInfo-text {
        font-size: 0.6rem;
        flex: 1;
    }
    

    .freightRate-carrierShipLimitInfo {
      //padding-left: .9375rem;
      font-weight: 400;
      font-size: 0.6rem;
  }

    .numeral {
        font-weight: 900;
        letter-spacing: .025rem;
    }

    .numeral--large {
        font-size: 1.25rem;
    }

    .numeral-affix {
        font-size: 0.5em;
        position: relative;
        top: -0.69em;
    }

    // .button--small, .linkButton--small {
    //     height: 2.6875rem;
    //     padding: 0 1.25rem;
    //     min-width: 9.25rem;
    // }
    
    .inlineButton {
        display: inline-block;
        text-transform: uppercase;
        color: #02aaf3;
        // cursor: pointer;
        font-weight: 700;
        font-size: 0.5rem;
        letter-spacing: .1rem;
        -webkit-transition: color 0.15s ease-in-out;
        transition: color 0.15s ease-in-out;
        max-width: 100%;
        border: none;
        //text-align: left;
    }

    .freightRatesView{
        border-bottom: .1875rem solid #02aaf3;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .allRatesTab-labelText {
        display: inline-block;
        border-radius: 0.125rem;        
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1rem;
    }    

    .call-outs-container {
      max-width: 1400px;
      // margin: 40px auto 0 auto;
      //border-block-end: 1px solid #ddd;
      margin-top: 2%;
      width: 100%;
      padding-right: 3%;
    }
  
    .call-out:nth-child(1) {
      padding: 2px;
      box-sizing: border-box;
      margin-bottom: 10px;
      flex-basis: 15%;
      order: 0;
      align-items: center;
    }
  
    .call-out:nth-child(2) {
      padding: 2px;
      box-sizing: border-box;
      margin-bottom: 10px;
      flex-basis: 32%;
      text-align: center;
      align-items: start;
    }
  
    .call-out:nth-child(3) {
      padding: 2px;
      box-sizing: border-box;
      margin-bottom: 10px;
      flex-basis: 32%;
      text-align: start;
      justify-content: start;
    }
  
    .call-out:nth-child(4) {
      padding: 2px;
      box-sizing: border-box;
      margin-bottom: 10px;
      flex-basis: 21%;
      overflow-wrap: anywhere;
      justify-content: center;
      align-items: center;    
    }
  
    .call-out {
      padding: 2px;
      box-sizing: border-box;
      margin-bottom: 10px;    
      flex-basis: 22%;
      overflow-wrap: anywhere;
      justify-content: center;
      align-items: center;
    }

    .shipment-limitation-container {
      max-width: 1400px;
      // margin: 40px auto 0 auto;
      //border-block-end: 1px solid #ddd;
      margin-top: 2%;
    }

    .shipment-limitation-call-out {
      padding: 2px;
      box-sizing: border-box;
      margin-bottom: 10px;    
      flex-basis: 33%;
      overflow-wrap: anywhere;
      justify-content: center;
      align-items: center;
    }

  .expansion-panel-cont-style{
        font-size: 12px;  
        margin-bottom: -1%;      
    }   

  .mat-expansion-panel-header{
      font-size: 12px;
      font-weight: 600;
  }

  .mat-form-field {
        font-size: 12px;
        margin-bottom: -2%;
  }

  .mat-expansion-panel-header-description{
    font-weight: 400;
  }

  .mat-expansion-panel{
    font-size: 12px;
    margin: 5px 0;
  }

  .mat-expansion-panel-spacing {
    margin: 5px 0;
    }
    
  .spinnerSection{
    display: flex;
    justify-content: center;
  }

  .center-me{
    margin-top: 50%;
    margin-bottom: 50%;
  }

  .spinnerSection mat-progress-spinner{
    flex: 1;
  }

  hr{
    border: 0.5px solid silver; 
    margin: 5px;   
  }

  .call-out hr{
    border: 0.5px solid silver; 
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
  }

  .button-banner{
    display: flex;
  }

  .button-center-me{
    margin: auto;
  }      

  @media (min-width: 900px) {
    .call-outs-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-right: 3%;
      line-height: 16px;
    }   

    .call-out:nth-child(2) {       
        text-align: start;
        flex-basis: 32%;
      }

    .inner-rates-data-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-right: 3%;
    }    
  }

  @media (max-width: 900px) {
    .inner-rate-column, .call-out {     
      justify-content: center !important;
      align-items: center  !important;
      text-align: center;
    }   
    
    .QuickQuoteMainDiv{
      max-height: none;
    }

    .ratesAccordionSection{
      max-height: none !important;      
    }

  }

  .origin-services-expansion-panel{
    margin-top: 2%;
  }

/* Rates Accordion expansion panels */

.ratesAccordionExpansionHeader {
    height: fit-content !important;
    font-weight: 400;
    padding-left: 0px;
    padding-right: 15px;
}  

.rates-accordion .mat-expansion-panel-content .mat-expansion-panel-body{
  border-top: 1px solid #ddd;
  line-height: 16px;
}

.CarrierCostDivStyle{  
  font-size: 1.4rem;
}

/* Begin Inner rates data container*/
.inner-rates-data-container {
  max-width: 1400px;  
  margin-top: 2%;
  width: 100%;
  padding-right: 3%;  
  line-height: 16px;
}

.inner-rate-column {
  padding: 2px;
  box-sizing: border-box;
  margin-bottom: 10px;    
  flex-basis: 33.33%;
  overflow-wrap: anywhere;
  justify-content: center;
  align-items: start;
}

.call-out:nth-child(2) {
  padding: 2px;
  box-sizing: border-box;
  margin-bottom: 10px;
  flex-basis: 32%;
  overflow-wrap: anywhere;
  justify-content: center;
  align-items: center;    
}
/*End Inner rates data container*/

/* Begin Inner rates options container*/
.inner-rates-options-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 3%;
}

.inner-rate-options-column {  
  flex-basis: 100%;
  text-align: end;
}

.inner-rate-options-column_with_email_input {  
  flex-basis: 60%;
  text-align: end;
}
/* End Inner rates options container*/

/* Begin Inner rates addresses container*/
.inner-rates-addresses-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 3%;
}

.inner-rate-addresses-column {  
  flex-basis: 100%;
  text-align: start;
  font-size: 0.5rem;
}

.rateAddressesSplitLine{
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  border: 0.5px solid silver;
}

/* End Inner rates options container*/

.mat-stroked-sent-email-button {
  border: 1px solid currentColor;
  padding: 0 0px;
  line-height: 25px;
}

.sendEmailInputStyle{
  margin-top: -12px;
  margin-left: -12%;
  flex-basis: 60%;
  text-align: end;
}

.ratesAccordionSection{
  max-height: 660px;
  overflow-y: auto;
}

.mat-option{
  font-size: 12px;
}

/* Chrome, Safari, Edge, Opera */
.removeArrowsNumberInput::-webkit-outer-spin-button,
.removeArrowsNumberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.removeArrowsNumberInput[type=number] {
  -moz-appearance: textfield;
}

.addToProductMaster{
  border-right: .1875rem solid lightgray;
  margin-right: 10px;
}

.AddShipmentButtonStyle{
  width: 100%;
}

.noRatesFoundText{
  color: #B50D00;
  font-size: 14px;
  margin-top: 6px;
}

.autoCompleteStyleControl{
  height: fit-content; 
  line-height: unset;
  width: auto;
}

.divAutoCompleteStyleControl{
  height: 20px;
}

.divAutoCompleteStyleControlProdName{ 
  white-space: normal;
}

.matAutocompleteProducts{
  background-color: red;
}
