<div (mouseenter)="onMouseEnter()"
     (mouseleave)="onMouseLeave()"
     [class.collapsed]="collapsed"
     [class.open]="collapsed && collapsedOpen$ | async"
     class="sidenav flex flex-col">
  <div class="sidenav-toolbar flex-none flex items-center">
    <!-- <img [src]="imageUrl$ | async" class="w-6 select-none flex-none"> -->
    <h2 class="title ltr:pl-4 rtl:pr-4 select-none flex-auto">{{ title$ | async }}</h2>
    <button (click)="toggleCollapse()"
            *ngIf="showCollapsePin$ | async"
            class="w-8 h-8 -mr-2 leading-none flex-none hidden lg:block"
            mat-icon-button
            type="button">
      <mat-icon *ngIf="!collapsed" [icIcon]="icRadioButtonChecked" size="14px"></mat-icon>
      <mat-icon *ngIf="collapsed" [icIcon]="icRadioButtonUnchecked" size="14px"></mat-icon>
    </button>
  </div>

  <vex-scrollbar class="flex-auto">
    <div class="subheading">Client</div>
    <form style="width: 100%; padding: 0 24px;" class="client-form" [formGroup]="clientsForm">
      <mat-form-field style="width: 100%;" appearance="outline" class="vex-flex-form-field">
        <input name="client"
               formControlName="client"
               type="text"
               matInput
               placeholder="Pick One"
               style="color: #a1a2b6;"
               [matAutocomplete]="clientAutoComplete">
        <mat-autocomplete #clientAutoComplete="matAutocomplete">
          <mat-option *ngFor="let client of filteredOptions | async"
                      [value]="client.ClientName"
                      (onSelectionChange)="onChange($event)"
                      style="font-size: 12px">
            {{client.ClientName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <div class="sidenav-items">
      <vex-sidenav-item *ngFor="let item of items; trackBy: trackByRoute"
                        [item]="item"
                        [level]="0"></vex-sidenav-item>
    </div>
    <div class="sidenav-items subheading">
      <div fxLayout="row" fxLayoutGap="3px">
        <div fxFlex="25%" style="text-align: left;">
          <label>Contact</label>
        </div>
        <div fxFlex="2%">
          <label>:</label>
        </div>
        <div fxFlex="60%">
          <label>{{contactName}}</label>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="3px" style="margin-top:3px;">
        <div fxFlex="25%" style="text-align: left;">
          <label>Phone</label>
        </div>
        <div fxFlex="2%">
          <label>:</label>
        </div>
        <div fxFlex="60%">
          <label>{{contactPhone}}</label>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="3px" style="margin-top:3px;">
        <div fxFlex="25%" style="text-align: left;">
          <label>Email</label>
        </div>
        <div fxFlex="2%">
          <label>:</label>
        </div>
        <div fxFlex="60%">
          <label><u>{{contactEmail}}</u></label>
        </div>
      </div>      
      
    </div>
  </vex-scrollbar>
</div>
