<!-- <vex-secondary-toolbar current="Form Wizard">
  <vex-breadcrumbs [crumbs]="['Forms', 'Form Wizard']" fxFlex="auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon [icIcon]="icMoreVert"></mat-icon>
  </button>
</vex-secondary-toolbar> -->

<div @stagger class="qcForms p-gutter" vexContainer>  
  <div @fadeInUp class="card overflow-hidden">
    <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="false">
      <ng-template matStepperIcon="edit">
        <mat-icon [icIcon]="icDoneAll"></mat-icon>
      </ng-template>

      <ng-template matStepperIcon="done">
        <mat-icon [icIcon]="icDoneAll"></mat-icon>
      </ng-template>

      <mat-step [stepControl]="originAndDestinationFormGroup">
        <form [formGroup]="originAndDestinationFormGroup">
          <ng-template matStepLabel>
            <span class="stepTitleStyle">Origin And Destination</span>
          </ng-template>
          
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
            <div @fadeInUp class="card" fxFlex="50%">
              <div fxLayout="row" fxLayoutGap="8px" class="ml-5">
                <div><h2 class="OriginDestinationTitle">Origin</h2></div>
              </div>
              <div>
                <div fxLayout="column" class="expansion-panel-cont-style">
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">                    
                    <div fxFlex="100%">
                      <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input name="originname" formControlName="originname" matInput required >
                      </mat-form-field>
                    </div>                                 
                  </div>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">                    
                    <div fxFlex="50%">
                      <mat-form-field>
                        <mat-label>Address 1</mat-label>
                        <textarea name="originadddress1" formControlName="originadddress1" matInput required rows="2" maxlength="250"></textarea>
                      </mat-form-field>
                    </div>  
                    <div fxFlex="50%">
                      <mat-form-field>
                        <mat-label>Address 2</mat-label>
                        <textarea name="originadddress2" formControlName="originadddress2" matInput rows="2" maxlength="250"></textarea>
                      </mat-form-field>
                    </div>                                 
                  </div>     
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                    <div fxFlex="50%">
                      <mat-form-field fxFlex="none">
                        <mat-label>Country</mat-label>                   
                          <mat-select  name="origincountry" formControlName="origincountry">
                          <mat-option *ngFor="let country of originCountries" [value]="country.CountryId">{{country.CountryName}}</mat-option>                      
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div fxFlex="50%">
                      <mat-form-field>
                        <mat-label>Postal Code</mat-label>
                        <input name="originpostalcode" formControlName="originpostalcode"
                                (blur)="validateOriginPostalCode()" matInput required >
                      </mat-form-field>
                    </div>                                 
                  </div>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                    <div fxFlex="50%">
                      <mat-form-field>
                        <mat-label>State</mat-label>
                        <input name="originstatename" matInput formControlName="originstatename" required>
                      </mat-form-field>
                    </div>                   
                  </div>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">                    
                    <div fxFlex="50%">
                      <mat-form-field>
                        <mat-label>Contact</mat-label>
                        <input name="origincontact" formControlName="origincontact" matInput >
                      </mat-form-field>
                    </div>  
                    <div fxFlex="50%">
                      <mat-form-field>
                        <mat-label>Phone</mat-label>
                        <input name="originphone" formControlName="originphone" matInput required >
                      </mat-form-field>
                    </div>                                 
                  </div>  
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">                    
                    <div fxFlex="50%">
                      <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input name="originemail" formControlName="originemail" matInput required >
                      </mat-form-field>
                    </div>                                                  
                  </div>   
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">                    
                    <div fxFlex="100%">
                      <mat-form-field>
                        <mat-label>Notes</mat-label>
                        <textarea name="originnotes" formControlName="originnotes" matInput rows="2" maxlength="250"></textarea>
                      </mat-form-field>
                    </div>                        
                  </div>   
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">                    
                    <div fxFlex="34%">
                      <mat-form-field>
                        <mat-label>Exc Pickup Date</mat-label>
                        <input (click)="formDatepickerRef.open()" (focus)="formDatepickerRef.open()" name="originpickupdate"
                          [matDatepicker]="formDatepickerRef" matInput readonly formControlName="originpickupdate">
                        <mat-datepicker-toggle [for]="formDatepickerRef" matSuffix></mat-datepicker-toggle>
                        <!-- <mat-hint>Click on the input or the datepicker icon</mat-hint> -->
                        <mat-datepicker #formDatepickerRef></mat-datepicker>
                      </mat-form-field>  
                    </div>  
                    <div fxFlex="32%">
                      <mat-form-field fxFlex="none">
                        <mat-label>Pickup Open</mat-label>                   
                          <mat-select  name="originpickupopen" formControlName="originpickupopen">
                            <!-- <mat-option *ngFor="let country of originCountries" [value]="country.CountryId">{{country.CountryName}}</mat-option>                       -->
                          </mat-select>
                      </mat-form-field>
                    </div> 
                    <div fxFlex="32%">
                      <mat-form-field fxFlex="none">
                        <mat-label>Pickup Close</mat-label>                   
                          <mat-select  name="originpickupclose" formControlName="originpickupclose">
                          <!-- <mat-option *ngFor="let country of originCountries" [value]="country.CountryId">{{country.CountryName}}</mat-option>                       -->
                        </mat-select>
                      </mat-form-field>
                    </div>                                 
                  </div>                                         
                </div>
              </div>
            </div>
            <div @fadeInUp class="card" fxFlex="50%">
              <div fxLayout="row" fxLayoutGap="8px" class="ml-5">
                <div><h2 class="OriginDestinationTitle">Destination</h2></div>                                
              </div>
              <div>
                <div fxLayout="column" class="expansion-panel-cont-style">
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">                    
                    <div fxFlex="100%">
                      <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input name="destname" formControlName="destname" matInput required >
                      </mat-form-field>
                    </div>                                 
                  </div>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">                    
                    <div fxFlex="50%">
                      <mat-form-field>
                        <mat-label>Address 1</mat-label>
                        <textarea name="destadddress1" formControlName="destadddress1" matInput required rows="2" maxlength="250"></textarea>
                      </mat-form-field>
                    </div>  
                    <div fxFlex="50%">
                      <mat-form-field>
                        <mat-label>Address 2</mat-label>
                        <textarea name="destadddress2" formControlName="destadddress2" matInput rows="2" maxlength="250"></textarea>
                      </mat-form-field>
                    </div>                                 
                  </div>     
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                    <div fxFlex="50%">
                      <mat-form-field fxFlex="none">
                        <mat-label>Country</mat-label>                   
                          <mat-select  name="destcountry" formControlName="destcountry">
                          <mat-option *ngFor="let country of originCountries" [value]="country.CountryId">{{country.CountryName}}</mat-option>                      
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div fxFlex="50%">
                      <mat-form-field>
                        <mat-label>Postal Code</mat-label>
                        <input name="destpostalcode" formControlName="destpostalcode"
                                (blur)="validateOriginPostalCode()" matInput required >
                      </mat-form-field>
                    </div>                                 
                  </div>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                    <div fxFlex="50%">
                      <mat-form-field>
                        <mat-label>State</mat-label>
                        <input name="deststatename" matInput formControlName="deststatename" required>
                      </mat-form-field>
                    </div>                   
                  </div>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">                    
                    <div fxFlex="50%">
                      <mat-form-field>
                        <mat-label>Contact</mat-label>
                        <input name="destcontact" formControlName="destcontact" matInput >
                      </mat-form-field>
                    </div>  
                    <div fxFlex="50%">
                      <mat-form-field>
                        <mat-label>Phone</mat-label>
                        <input name="destphone" formControlName="destphone" matInput required >
                      </mat-form-field>
                    </div>                                 
                  </div>  
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">                    
                    <div fxFlex="50%">
                      <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input name="destemail" formControlName="destemail" matInput required >
                      </mat-form-field>
                    </div>                                                  
                  </div>   
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">                    
                    <div fxFlex="100%">
                      <mat-form-field>
                        <mat-label>Notes</mat-label>
                        <textarea name="destnotes" formControlName="destnotes" matInput rows="2" maxlength="250"></textarea>
                      </mat-form-field>
                    </div>                        
                  </div>   
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">                    
                    <div fxFlex="34%">
                      <mat-form-field>
                        <mat-label>Exp Del Date</mat-label>
                        <input (click)="formDestDatepickerRef.open()" (focus)="formDestDatepickerRef.open()" name="destexpdeldate"
                          [matDatepicker]="formDestDatepickerRef" matInput readonly formControlName="destexpdeldate">
                        <mat-datepicker-toggle [for]="formDestDatepickerRef" matSuffix></mat-datepicker-toggle>
                        <!-- <mat-hint>Click on the input or the datepicker icon</mat-hint> -->
                        <mat-datepicker #formDestDatepickerRef></mat-datepicker>
                      </mat-form-field>  
                    </div>  
                    <div fxFlex="32%">
                      <mat-form-field>
                        <mat-label>Del Appt From</mat-label>
                        <input name="destdelapptfrom" formControlName="destdelapptfrom" matInput >
                      </mat-form-field>
                    </div> 
                    <div fxFlex="32%">
                      <mat-form-field>
                        <mat-label>Del Appt To</mat-label>
                        <input name="destdelapptto" formControlName="destdelapptto" matInput >
                      </mat-form-field>
                    </div>                                 
                  </div>                                         
                </div>
              </div>
            </div>
          </div>
                    
          <div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="end center" fxLayoutGap="5px">
            <button (click)="stepper.reset()" [disabled]="originAndDestinationFormGroup.pristine" color="primary" mat-button
                    type="button">Reset
            </button>
            <button  color="primary" mat-raised-button matStepperNext>Next
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="productsAndAccessorialsFormGroup">
        <form [formGroup]="productsAndAccessorialsFormGroup">
          <ng-template matStepLabel>
            <span class="stepTitleStyle">Products and Accessorials</span>
          </ng-template>

          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
            <div @fadeInUp class="card" fxFlex="75%">
              <div fxLayout="row" fxLayoutGap="8px" class="ml-5">
                <div><h2 class="OriginDestinationTitle">Product(s) {{formProducts.length}}</h2></div>
              </div>
              <div  [ngClass]="{'ProductsSection': formProducts.length >= 3}">
               <div formArrayName='products' *ngFor="let prod of formProducts.controls; let i = index" > 
                  <hr *ngIf="i > 0" >
                  <div [formGroupName]="i">
                    <div fxLayout="column" class="pt-5" class="expansion-panel-cont-style">
                      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                        <div fxFlex="12%">
                          <mat-form-field fxFlex="none">
                            <mat-label>Pallet</mat-label>
                            <input matInput type="number" maxlength="4" min="0" formControlName="Pallets" required>
                          </mat-form-field>
                        </div>
                        <div fxFlex="12%">
                          <mat-form-field>
                            <mat-label>Pieces</mat-label>
                            <input matInput type="number" maxlength="4" min="0" formControlName="Pieces" required>
                          </mat-form-field>
                        </div>   
                        <div fxFlex="22%">
                          <mat-form-field>
                            <mat-label>Packages</mat-label>
                            <mat-select name="package" formControlName="Package" required>
                              <mat-option *ngFor="let package of packageTypes" [value]="package.PackageTypeID">{{package.PackageType}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div fxFlex="22%">
                          <mat-form-field>
                            <mat-label>Class</mat-label>
                            <mat-select formControlName="ProductClass" required>
                              <mat-option value="50">50</mat-option>
                              <mat-option value="55">55</mat-option>
                              <mat-option value="50">60</mat-option>
                              <mat-option value="65">65</mat-option>
                              <mat-option value="70">70</mat-option>
                              <mat-option value="77.5">77.5</mat-option>
                              <mat-option value="85">85</mat-option>
                              <mat-option value="92.5">92.5</mat-option>
                              <mat-option value="100">100</mat-option>
                              <mat-option value="110">110</mat-option>
                              <mat-option value="125">125</mat-option>
                              <mat-option value="150">150</mat-option>
                              <mat-option value="175">175</mat-option>
                              <mat-option value="200">200</mat-option>
                              <mat-option value="250">250</mat-option>
                              <mat-option value="300">300</mat-option>
                              <mat-option value="400">400</mat-option>
                              <mat-option value="500">500</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>                         
                        <div fxFlex="28%">
                          <mat-form-field>
                            <mat-label>Description</mat-label>
                            <input matInput type="text" maxlength="50" formControlName="Description">
                          </mat-form-field>
                        </div>     
                      </div>
        
                      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">   
                        <div fxFlex="15%">
                          <mat-form-field>
                            <mat-label>NMFC</mat-label>
                            <input matInput type="number" maxlength="4" min="0" formControlName="NMFC">
                          </mat-form-field>
                        </div>           
                        <div fxFlex="15%">
                          <mat-form-field>
                            <mat-label>L</mat-label>
                            <input matInput type="number" maxlength="4" min="0" formControlName="Length" required>
                          </mat-form-field>
                        </div>  
                        <div fxFlex="15%">
                          <mat-form-field>
                            <mat-label>W</mat-label>
                            <input matInput type="number" maxlength="4" min="0" formControlName="Width" required>
                          </mat-form-field>
                        </div>  
                        <div fxFlex="15%">
                          <mat-form-field>
                            <mat-label>H</mat-label>
                            <input matInput type="number" maxlength="4" min="0" formControlName="Height" required>
                          </mat-form-field>
                        </div>
                        <div fxFlex="15%">
                          <mat-form-field>
                            <mat-label>PCF</mat-label>
                            <input matInput type="number" maxlength="4" min="0" formControlName="PCF">
                          </mat-form-field>
                        </div>
                        <div fxFlex="20%">
                          <mat-form-field>
                            <mat-label>Total Weight</mat-label>
                            <input matInput type="number" maxlength="4" min="0" formControlName="Weight" required>
                          </mat-form-field>
                        </div>
                        
                      </div>
                      <div fxLayout="row" fxLayout.lt-md="column">  
                        <div fxFlex="15%">
                          <mat-checkbox [checked]="false" formControlName="addToProductMaster" color="warn">Master</mat-checkbox>
                        </div>
                        <div fxFlex="15%">
                          <mat-checkbox [checked]="false" formControlName="Stackable" color="warn">Stackable</mat-checkbox>
                        </div>
                        <div fxFlex="15%">
                          <mat-checkbox [checked]="false" formControlName="Hazmat" color="warn">Hazmat</mat-checkbox>
                        </div>
                      </div> 
                      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px" class="pb-2 pt-2">                     
                        <div fxLayoutAlign="end center">
                          <ng-container *ngIf="formProducts.length > 1">
                            <button id="{{'remoeMinus'+i}}" (click)="removeNewProdField(i)" 
                                    mat-button type="button">Remove</button>
                          </ng-container>
                          <ng-container>
                            <button id="{{'addrec'+i}}" (click)="addNewProdField()" 
                                    mat-raised-button type="button" [disabled]="productsAndAccessorialsFormGroup.get('products').invalid" >Add New</button>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div @fadeInUp class="card" fxFlex="25%">
              <div fxLayout="row" fxLayoutGap="8px" class="ml-5">
                <div><h2 class="OriginDestinationTitle">Accessorial(s) {{accesorialsSelect.selectedOptions.selected.length}}</h2></div>
              </div>
              <div class="AccessorialsSection">
                <mat-selection-list #accesorialsSelect class="accesorialsSelectionList">
                  <mat-list-option color="warn" *ngFor="let accesorial of accesorials" checkboxPosition="before">
                    {{accesorial.Description}}
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div>
          </div>

          <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
            <button color="primary" mat-button matStepperPrevious type="button">Previous</button>
            <button  color="primary" mat-raised-button matStepperNext>Next
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="shipmentInfoFormGroup">
        <form [formGroup]="shipmentInfoFormGroup">
          <ng-template matStepLabel>
            <span class="stepTitleStyle">Shipment Information</span>
          </ng-template>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
            <div @fadeInUp class="card" fxFlex="50%">
              <div fxLayout="row" fxLayoutGap="8px" class="ml-5">
                <div><h2 class="OriginDestinationTitle">Shipment Information</h2></div>
              </div>
              <div>
                <div fxLayout="column" class="expansion-panel-cont-style">
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                    <div fxFlex="50%">
                      <mat-form-field fxFlex="none">
                        <mat-label>Equipment</mat-label>                   
                          <mat-select  name="equipment" formControlName="equipment">
                          <!-- <mat-option *ngFor="let equipment of equipments" [value]="equipment.id">{{equipment.name}}</mat-option>                       -->
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div fxFlex="50%">
                      <mat-form-field fxFlex="none">
                        <mat-label>Priority</mat-label>                   
                          <mat-select  name="priority" formControlName="priority">
                          <!-- <mat-option *ngFor="let priority of priorities" [value]="priority.id">{{priority.name}}</mat-option>                       -->
                        </mat-select>
                      </mat-form-field>
                    </div>                                 
                  </div>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                    <div fxFlex="50%">
                      <mat-form-field>
                        <mat-label>Customer Ref #</mat-label>
                        <input name="customerref" formControlName="customerref" matInput >
                      </mat-form-field>
                    </div>
                    <div fxFlex="50%">
                      <mat-form-field>
                        <mat-label>R2 Order #</mat-label>
                        <input name="r2order" formControlName="r2order" matInput >
                      </mat-form-field>
                    </div>                                 
                  </div>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                    <div fxFlex="100%">
                      <mat-form-field>
                        <mat-label>R2 Pro number</mat-label>
                        <input name="r2pronumber" formControlName="r2pronumber" matInput >
                      </mat-form-field>
                    </div>                                          
                  </div>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                    <div fxFlex="50%">
                      <mat-form-field fxFlex="none">
                        <mat-label>Payment Terms</mat-label>                   
                          <mat-select  name="paymentterms" formControlName="paymentterms">
                          <!-- <mat-option *ngFor="let paymentterm of paymentterms" [value]="paymentterm.id">{{paymentterm.name}}</mat-option>                       -->
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div fxFlex="50%">
                      <mat-form-field>
                        <mat-label>Shipment Info</mat-label>
                        <input name="shipmentinfo" formControlName="shipmentinfo" matInput >
                      </mat-form-field>
                    </div>                                 
                  </div>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                    <div fxFlex="50%">
                      <mat-form-field>
                        <mat-label>Pro Number</mat-label>
                        <input name="pronumber" formControlName="pronumber" matInput >
                      </mat-form-field>
                    </div>
                    <div fxFlex="50%">
                      <mat-form-field>
                        <mat-label>Mode</mat-label>
                        <input name="mode" formControlName="mode" matInput >
                      </mat-form-field>
                    </div>
                  </div> 
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                      <div fxFlex="50%">
                        <mat-form-field>
                          <mat-label>Shipment Value</mat-label>
                          <input name="shipmentvalue" type="number" maxlength="8" min="0" formControlName="shipmentvalue" matInput >
                        </mat-form-field>
                      </div>
                      <div fxFlex="50%">
                        <mat-form-field>
                          <mat-label>Value Per Pound</mat-label>
                          <input name="valueperpound" type="number" maxlength="8" min="0" formControlName="valueperpound" matInput >
                        </mat-form-field>
                      </div>
                  </div>  
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                        <div fxFlex="50%">
                          <mat-form-field fxFlex="none">
                            <mat-label>OS & D</mat-label>                   
                              <mat-select  name="os_d" formControlName="os_d">
                              <!-- <mat-option *ngFor="let os_dItem of os_dList" [value]="os_dItem.id">{{os_dItem.name}}</mat-option>                       -->
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div fxFlex="50%">
                          <mat-form-field fxFlex="none">
                            <mat-label>Service Level</mat-label>                   
                              <mat-select  name="servicelevel" formControlName="servicelevel">
                              <!-- <mat-option *ngFor="let servicelevel of servicelevels" [value]="servicelevel.id">{{servicelevel.name}}</mat-option>                       -->
                            </mat-select>
                          </mat-form-field>
                        </div>                                 
                  </div>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                        <div fxFlex="50%">
                          <mat-form-field>
                            <mat-label>R2 Ref No</mat-label>
                            <input name="r2refno" formControlName="r2refno" matInput >
                          </mat-form-field>
                        </div>
                        <div fxFlex="50%">
                          <mat-form-field fxFlex="none">
                            <mat-label>StatusCode</mat-label>                   
                              <mat-select  name="statuscode" formControlName="statuscode">
                              <!-- <mat-option *ngFor="let servicelevel of servicelevels" [value]="servicelevel.id">{{servicelevel.name}}</mat-option>                       -->
                            </mat-select>
                          </mat-form-field>
                        </div>                                 
                  </div>                                                        
                </div>
              </div>              
            </div>
            <div @fadeInUp class="card" fxFlex="50%">
              <div fxLayout="row" fxLayoutGap="8px" class="ml-5 mt-8">
                
              </div>
              <div>
                <div fxLayout="column" class="expansion-panel-cont-style">
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                    <div fxFlex="100%">
                      <mat-form-field>
                        <mat-label>Special Instructions</mat-label>
                        <textarea name="specialinstructions" formControlName="specialinstructions" matInput rows="4" maxlength="250"></textarea>
                      </mat-form-field>
                    </div> 
                  </div>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                    <div fxFlex="75%">
                      <mat-form-field>
                        <mat-label>Internal Note</mat-label>
                        <textarea name="internalnote" matInput rows="3" formControlName="internalnote" maxlength="250"></textarea>
                      </mat-form-field>
                    </div> 
                    <div fxFlex="25%" class="centeredDivButton">
                      <button color="warn" class="button--small" mat-raised-button type="button" (click)="addNewInternalNote()">Add Note</button>                             
                    </div> 
                  </div>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                    <div fxFlex="100%">
                      <mat-list>
                        <div mat-subheader>Notes</div>
                        <div class="NotesListSection">
                          <mat-list-item *ngFor="let note of internalNotes; let j = index">
                            <button mat-icon-button matTooltip="Delete Note" (click)="removeInternalNote(j)">
                              <mat-icon mat-list-icon color="warn">delete_forever</mat-icon>
                            </button>     
                            <mat-icon mat-list-icon>note</mat-icon>                     
                            <div mat-line>{{note.NoteText}}</div>
                            <div mat-line> {{note.Date | date}} - {{note.UserName}}</div>
                          </mat-list-item>    
                        </div>                                            
                      </mat-list>
                    </div>                     
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
            <button color="primary" mat-button matStepperPrevious type="button">Previous</button>
            <button  color="primary" mat-raised-button matStepperNext>Next
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="confirmFormGroup">
        <form [formGroup]="confirmFormGroup">
          <ng-template matStepLabel>
            <span class="stepTitleStyle">Rate total and Book Shipment</span>
          </ng-template>

          <!-- Step Content -->

          <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
            <button color="primary" mat-button matStepperPrevious type="button">Previous</button>
            <button (click)="submit()"  color="warn" mat-raised-button
                    matStepperNext>
              Book Shipment
            </button>
          </div>
        </form>

      </mat-step>
    </mat-horizontal-stepper>
  </div>
 
</div>

