.qcForms{
    padding: 0.2rem;
} 

.expansion-panel-cont-style{
    font-size: 12px;  
    margin-bottom: -1%; 
    padding: 0 10px 10px;     
}   

.mat-expansion-panel-header{
  font-size: 12px;
  font-weight: 600;
}

.mat-form-field {
    font-size: 12px;
    margin-bottom: -12px;
    width: 100%;
}

.mat-expansion-panel-header-description{
font-weight: 400;
}

.mat-expansion-panel{
font-size: 12px;
margin: 5px 0;
}

.mat-expansion-panel-spacing {
margin: 5px 0;
}

.actions{
    margin: 1%;
}

.OriginDestinationTitle{
    font-size: 14px;
    font-weight: 500;
}

.stepTitleStyle{
    font-size: 13px;    
}

.AccessorialsSection{
    max-height: 400px;    
    overflow-y: auto;
}

.accesorialsSelectionList .mat-list-option{
    font-size: 12px;
    height: 35px;
}

hr{
    border: 0.5px solid silver; 
    margin: 5px;   
  }

.ProductsSection{
    max-height: 400px;
    overflow-y: auto;
}