.qcForms{
    padding: 0.2rem;
} 

.expansion-panel-cont-style{
    font-size: 12px;  
    margin-bottom: -1%; 
    padding: 0 24px 16px;     
}   

.mat-expansion-panel-header{
  font-size: 12px;
  font-weight: 600;
}

.mat-form-field {
    font-size: 12px;
    margin-bottom: -2%;
    width: 100%;
}

.mat-expansion-panel-header-description{
font-weight: 400;
}

.mat-expansion-panel{
font-size: 12px;
margin: 5px 0;
}

.mat-expansion-panel-spacing {
margin: 5px 0;
}

.actions{
    margin: 1%;
}

.OriginDestinationTitle{
    font-size: 14px;
    font-weight: 500;
}
