<!-- <vex-secondary-toolbar current="Form Wizard">
  <vex-breadcrumbs [crumbs]="['Forms', 'Form Wizard']" fxFlex="auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon [icIcon]="icMoreVert"></mat-icon>
  </button>
</vex-secondary-toolbar> -->

<div @stagger class="qcForms p-gutter" vexContainer> 

  <div @fadeInUp class="card overflow-hidden">
    <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="false">
      <ng-template matStepperIcon="edit">
        <mat-icon [icIcon]="icDoneAll"></mat-icon>
      </ng-template>

      <ng-template matStepperIcon="done">
        <mat-icon [icIcon]="icDoneAll"></mat-icon>
      </ng-template>

      <mat-step [stepControl]="originAndDestinationFormGroup">
        <form [formGroup]="originAndDestinationFormGroup">
          <ng-template matStepLabel>Origin And Destination</ng-template>

          <!-- <h2 class="title m-0">Create Account</h2>
          <div class="subheading-1">Set up your account for testing purposes.</div>

          <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
            <mat-form-field fxFlex="auto">
              <mat-label>Account Username</mat-label>
              <input formControlName="username" matInput required>
              <mat-hint>This will be your unique login name.</mat-hint>
            </mat-form-field>

            <mat-form-field fxFlex="auto">
              <mat-label>Name</mat-label>
              <input formControlName="name" matInput required>
              <mat-hint>How may we call you?</mat-hint>
            </mat-form-field>

            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
              <mat-form-field fxFlex="auto">
                <mat-label>E-Mail</mat-label>
                <input formControlName="email" matInput required>
                <mat-hint align="end">example@example.com</mat-hint>
              </mat-form-field>

              <div fxFlex="auto" fxLayout="row" fxLayoutGap="8px">
                <mat-form-field class="vex-flex-form-field" fxFlex="none">
                  <mat-label>Code</mat-label>
                  <mat-select formControlName="phonePrefix">
                    <mat-option *ngFor="let option of phonePrefixOptions" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                  <mat-label>Phone Number</mat-label>
                  <input formControlName="phone" matInput>
                  <mat-hint align="end"></mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div> -->

          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px" class="QuickQuoteMainDiv">
            <div @fadeInUp class="card" fxFlex="50%">
              <div fxLayout="column" class="expansion-panel-cont-style">    
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                  <div fxFlex="50%">
                    <mat-form-field fxFlex="none">
                      <mat-label>Country</mat-label>                   
                        <mat-select  name="origincountry" formControlName="origincountry">
                        <mat-option *ngFor="let country of originCountries" [value]="country.CountryId">{{country.CountryName}}</mat-option>                      
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex="50%">
                    <mat-form-field>
                      <mat-label>Postal Code</mat-label>
                      <input name="originpostalcode" formControlName="originpostalcode"
                              (blur)="validateOriginPostalCode()" matInput required >
                    </mat-form-field>
                  </div>                                 
                </div>
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                  <div fxFlex="50%">
                    <mat-form-field>
                      <mat-label>State</mat-label>
                      <input name="originstatename" matInput formControlName="originstatename" required>
                    </mat-form-field>
                  </div>
                  <div fxFlex="50%">
                    <mat-form-field>
                      <mat-label>Pickup Date</mat-label>
                      <input (click)="formDatepickerRef.open()" (focus)="formDatepickerRef.open()" name="originpickupdate"
                        [matDatepicker]="formDatepickerRef" matInput readonly formControlName="originpickupdate">
                      <mat-datepicker-toggle [for]="formDatepickerRef" matSuffix></mat-datepicker-toggle>
                      <mat-hint>Click on the input or the datepicker icon</mat-hint>
                      <mat-datepicker #formDatepickerRef></mat-datepicker>
                    </mat-form-field>
                  </div>                                 
                </div>
                <!-- <mat-expansion-panel [expanded]="false" class="origin-services-expansion-panel"  
                  (opened)="panelCollectionServiceState = true"
                  (closed)="panelCollectionServiceState = false">
                  <mat-expansion-panel-header [collapsedHeight]="'32px'" [expandedHeight]="'32px'">
                    <mat-panel-title>
                      <span matBadge="4" matBadgeOverlap="false">Collection Services</span>
                    </mat-panel-title>
                    <mat-panel-description>
                      {{collectionServicesDescription}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="expansion-panel-cont-style">
                    <div class="pt-1" fxLayout.lt-xs="column" fxLayout.gt-xs="row" fxLayoutGap="16px">
                      <mat-checkbox fxFlex="33%" [checked]="false" formControlName="commercial" color="warn" (change)="validateCollectionServices()">Commercial</mat-checkbox>
                      <mat-checkbox fxFlex="33%" [checked]="false" formControlName="residential" color="warn" (change)="validateCollectionServices()">Residential</mat-checkbox>
                      <mat-checkbox fxFlex="34%" [checked]="false" formControlName="limitedAccess" color="warn" (change)="validateCollectionServices()">Limited Access</mat-checkbox>
                    </div>
                    <hr style="margin: 1%;">
                    <div class="pt-1" fxLayout.lt-xs="column" fxLayout.gt-xs="row">
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="insidePickup" color="warn" (change)="validateCollectionServices()">Inside Pickup</mat-checkbox>
                      </div> 
                      <div fxFlex="50%">
                        <mat-checkbox [checked]="false" formControlName="liftgateRequiredAtPickup" color="warn" (change)="validateCollectionServices()">Liftgate Required at Pickup</mat-checkbox>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel> -->
              </div>
            </div>
          </div>

          <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
            <button (click)="stepper.reset()" [disabled]="originAndDestinationFormGroup.pristine" color="primary" mat-button
                    type="button">RESET
            </button>
            <button [disabled]="originAndDestinationFormGroup.invalid" color="primary" mat-raised-button matStepperNext>NEXT
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="passwordFormGroup">
        <form [formGroup]="passwordFormGroup">
          <ng-template matStepLabel>Products and Accessorials</ng-template>

          <h2 class="title m-0">Select a Password</h2>
          <div class="subheading-1">Enter your password you will use to log in.</div>

          <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
            <mat-form-field fxFlex="auto">
              <mat-label>Password</mat-label>
              <input [type]="passwordInputType" formControlName="password" matInput required>
              <button (click)="showPassword()" *ngIf="passwordInputType === 'password'" mat-icon-button matSuffix
                      type="button">
                <mat-icon [icIcon]="icVisibility"></mat-icon>
              </button>
              <button (click)="hidePassword()" *ngIf="passwordInputType === 'text'" mat-icon-button matSuffix
                      type="button">
                <mat-icon [icIcon]="icVisibilityOff"></mat-icon>
              </button>
              <mat-hint>Your password should be atleast 6 characters long.</mat-hint>
            </mat-form-field>

            <mat-form-field fxFlex="auto">
              <mat-label>Confirm Password</mat-label>
              <input [type]="passwordInputType" formControlName="passwordConfirm" matInput required>
              <button (click)="showPassword()" *ngIf="passwordInputType === 'password'" mat-icon-button matSuffix
                      type="button">
                <mat-icon [icIcon]="icVisibility"></mat-icon>
              </button>
              <button (click)="hidePassword()" *ngIf="passwordInputType === 'text'" mat-icon-button matSuffix
                      type="button">
                <mat-icon [icIcon]="icVisibilityOff"></mat-icon>
              </button>
              <mat-hint>Please type in your password again.</mat-hint>
            </mat-form-field>
          </div>

          <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
            <button color="primary" mat-button matStepperPrevious type="button">PREVIOUS</button>
            <button [disabled]="passwordFormGroup.invalid" color="primary" mat-raised-button matStepperNext>NEXT
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="passwordFormGroup">
        <form [formGroup]="passwordFormGroup">
          <ng-template matStepLabel>Shipment Information</ng-template>

          <h2 class="title m-0">Select a Password</h2>
          <div class="subheading-1">Enter your password you will use to log in.</div>

          <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
            <mat-form-field fxFlex="auto">
              <mat-label>Password</mat-label>
              <input [type]="passwordInputType" formControlName="password" matInput required>
              <button (click)="showPassword()" *ngIf="passwordInputType === 'password'" mat-icon-button matSuffix
                      type="button">
                <mat-icon [icIcon]="icVisibility"></mat-icon>
              </button>
              <button (click)="hidePassword()" *ngIf="passwordInputType === 'text'" mat-icon-button matSuffix
                      type="button">
                <mat-icon [icIcon]="icVisibilityOff"></mat-icon>
              </button>
              <mat-hint>Your password should be atleast 6 characters long.</mat-hint>
            </mat-form-field>

            <mat-form-field fxFlex="auto">
              <mat-label>Confirm Password</mat-label>
              <input [type]="passwordInputType" formControlName="passwordConfirm" matInput required>
              <button (click)="showPassword()" *ngIf="passwordInputType === 'password'" mat-icon-button matSuffix
                      type="button">
                <mat-icon [icIcon]="icVisibility"></mat-icon>
              </button>
              <button (click)="hidePassword()" *ngIf="passwordInputType === 'text'" mat-icon-button matSuffix
                      type="button">
                <mat-icon [icIcon]="icVisibilityOff"></mat-icon>
              </button>
              <mat-hint>Please type in your password again.</mat-hint>
            </mat-form-field>
          </div>

          <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
            <button color="primary" mat-button matStepperPrevious type="button">PREVIOUS</button>
            <button [disabled]="passwordFormGroup.invalid" color="primary" mat-raised-button matStepperNext>NEXT
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="confirmFormGroup">
        <form [formGroup]="confirmFormGroup">
          <ng-template matStepLabel>Rate total and Book Shipment</ng-template>

          <div class="title m-0">You're almost there!</div>
          <div class="subheading-1">To finish registration, accept our terms of service and click on "Create Account".
          </div>

          <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
            <mat-checkbox class="checkbox" formControlName="terms">
              I agree to the terms of service and the usual stuff. *
            </mat-checkbox>
          </div>

          <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
            <button color="primary" mat-button matStepperPrevious type="button">PREVIOUS</button>
            <button (click)="submit()" [disabled]="confirmFormGroup.invalid" color="primary" mat-raised-button
                    matStepperNext>
              CREATE ACCOUNT
            </button>
          </div>
        </form>

      </mat-step>
    </mat-horizontal-stepper>
  </div>
 
</div>

