.qcForms{
    padding: 0.2rem;
} 

.expansion-panel-cont-style{
    font-size: 12px;  
    margin-bottom: -1%; 
    padding: 0 10px 10px;     
}   

.mat-expansion-panel-header{
  font-size: 12px;
  font-weight: 600;
}

.mat-form-field {
    font-size: 12px;
    margin-bottom: -12px;
    width: 100%;
}

.matAreaInputField {    
    margin-bottom: 8px;   
}

.mat-expansion-panel-header-description{
font-weight: 400;
}

.mat-expansion-panel{
font-size: 12px;
margin: 5px 5px 0 5px;
}

.mat-expansion-panel-spacing {
margin: 5px 0;
}

.stepTitleStyle{
    font-size: 15px;    
}

.action{
    margin: 5px;
}

.actionspan{
    margin-top: 15px;
}

.title {
    margin: 1%;
    color: gray;
    font-size: x-large;
}

.matFormField {
    width: 50%;
}

.matCheckandRadio {
    margin-top: 5px;
    margin-bottom: 5px;
}