<vex-secondary-toolbar current="Dashboard">
  <vex-breadcrumbs [crumbs]="['Dashboards', 'Analytics']" class="flex-auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon [icIcon]="icMoreVert"></mat-icon>
  </button>
</vex-secondary-toolbar>

<div class="p-gutter" style="padding-bottom: 0px;" vexContainer>
  <div gdColumn="-1 / 1" gdColumn.lt-md="-1 / 1" gdColumn.lt-sm="1">
    <div class="card" fxLayout="column">
      <div fxLayout="row" fxLayout.lt-md="column" class="ml-5 dashboardFilters">
        <div fxFlex="20%" class="py-4 mr-4" fxLayoutAlign="start center">
          <mat-form-field appearance="outline" class="vex-flex-form-field matFormField" color="primary">
            <mat-label>Date Range</mat-label>
            <mat-select [(value)]="this.selectedDateRange" (selectionChange)="onDateRangeselectionChange()">
              <mat-option *ngFor="let dateRange of this.dateRanges" [value]="dateRange.value">
                {{dateRange.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="55%" *ngIf="isDateRangeVisible">
          <div fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex="35%" class="py-4 mr-4" fxLayoutAlign="start center">
              <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>From Date</mat-label>
                <input (click)="formDatepicker.open()" (focus)="formDatepicker.open()" name="dateFrom"
                  [matDatepicker]="formDatepicker" [(ngModel)]="dateFromForDatePicker" matInput readonly>
                <mat-datepicker-toggle [for]="formDatepicker" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #formDatepicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxFlex="35%" class="py-4 mr-4" fxLayoutAlign="start center">
              <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>To Date</mat-label>
                <input (click)="toDatepicker.open()" (focus)="toDatepicker.open()" name="dateTo"
                  [matDatepicker]="toDatepicker" [(ngModel)]="dateToForDatePicker" matInput readonly>
                <mat-datepicker-toggle [for]="toDatepicker" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #toDatepicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxFlex="30%" class="py-4 mr-4" fxLayoutAlign="start center">
              <button color="primary" (click)="refreshChartsUsingSelectedDate()" mat-raised-button>Refresh</button>
            </div>
          </div>
        </div>
        <div fxFlex="20%" class="py-4 mr-4" fxLayoutAlign="start center">
          <mat-checkbox [(ngModel)]="isIncludeSubClient" color="primary" (change)='changedValueOfIsIncludeSubClient()'>
            Include SubClients</mat-checkbox>
        </div>
        <div fxFlex="5%" class="py-4 spinnerSection" fxLayoutAlign="start center" *ngIf="showSpinnerOnDateChanges">
          <div>
            <mat-progress-spinner diameter="40" mode="indeterminate"></mat-progress-spinner>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="p-gutter" gdColumns.lt-md="1fr 1fr" gdColumns.lt-sm="1fr">
  <div class="center-me-for-spinner" *ngIf="showSpinnerOnDateChanges">
    <mat-progress-spinner diameter="100" mode="indeterminate"></mat-progress-spinner>
  </div>
</div> -->

<div class="p-gutter" gdColumns="1fr 1fr" gdColumns.lt-md="1fr 1fr" gdColumns.lt-sm="1fr"
  style="column-gap: 16px; row-gap: 0px;" vexContainer>

  <vex-widget-large-chart [series]="SeriesOfTotalShipmentsChart" [labels]="labelsOfTotalShipmentsChart"
    [titleName]="chart1Name" [chartHeight]="heightOfTopShipmentsChart" [chartWidth]="widthOfTopShipmentsChart"
    gdColumn="1 / 1" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1"></vex-widget-large-chart>

  <vex-widget-table [columns]="tableColumnsShipments" [data]="tableDataShipments" class="w-full overflow-auto"
    gdColumn="-1 / 2" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1"></vex-widget-table>

  <vex-widget-large-chart [series]="SeriesOfCostByFirgationChart" [labels]="labelsOfCostByFirgationChart"
    [chartType]="chart2Type" [chartHeight]="heightOfCostByFirgationChart" [chartWidth]="widthOfCostByFirgationChart"
    [titleName]="chart2Name" gdColumn="1 / 1" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1">
  </vex-widget-large-chart>

  <vex-widget-large-chart [series]="SeriesOfTopAccessorialsChart" [labels]="labelsOfTopAccessorialsChart"
    [titleName]="chart3Name" [chartHeight]="heightOfTopAccessorialsChart" [chartWidth]="widthOfTopAccessorialsChart"
    gdColumn="-1 / 2" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1"></vex-widget-large-chart>

  <div gdColumn="-1 / 1" gdColumn.lt-md="-1 / 1" gdColumn.lt-sm="1">
    <div class="card" fxLayout="column">
      <div fxLayout="row" fxLayoutGap="3px" class="ml-5">
        <div fxFlex="14%" class="py-4 px-6" style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px;"
          fxLayout="row" fxLayoutAlign="start center">
          <div class="actionspan">
            <span class="stepTitleStyle">Choose lanes type</span>
          </div>
        </div>
        <div fxFlex="16%" style="padding-left: 0px; padding-bottom: 0px;" class="py-4 px-6" fxLayout="row"
          fxLayoutAlign="start center">
          <mat-form-field appearance="fill" class="matFormField">
            <mat-select [(value)]="this.selectedLaneType" (selectionChange)="onLaneTypeselectionChange()">
              <mat-option *ngFor="let laneType of this.lanetypesOfChart" [value]="laneType.value"
                [disabled]="showSpinner">
                {{laneType.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="4%" *ngIf="showSpinner" class="spinnerSection">
          <div class="center-me">
            <mat-progress-spinner diameter="50" mode="indeterminate"></mat-progress-spinner>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="3px" class="ml-5">
        <div fxFlex="14%" class="py-4 px-6" style="padding-top: 0px; padding-right: 0px;" fxLayout="row"
          fxLayoutAlign="start center">
          <div class="actionspan">
          </div>
        </div>
        <div fxFlex="40%" style="padding-left: 0px; padding-top: 0px;" class="py-4 px-6" fxLayout="row"
          fxLayoutAlign="start center">
          <mat-radio-group color="primary" [(ngModel)]="selectedOption" [disabled]="showSpinner">
            <mat-radio-button value="cost" name="cost" (change)="onSelectionChange('cost')">Cost</mat-radio-button>
            <mat-radio-button value="volume" name="volume" style="margin-left: 10px;"
              (change)="onSelectionChange('volume')">Volume</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div>
      <vex-widget-large-chart [series]="SeriesOfTopLanesChart" [labels]="labelsOfTopLanesChart" [titleName]="chart5Name"
        [chartHeight]="heightOfTopLanesChart" [chartWidth]="widthOfTopLanesChart">
      </vex-widget-large-chart>
    </div>
  </div>

  <vex-widget-bar-chart [series]="SeriesOfTopCarriersChart" [labels]="labelsOfTopCarriersChart" [titleName]="chart4Name"
    [barHeight]="barHeightOfTopCarriersChart" [chartHeight]="heightOfTopCarriersChart"
    [chartWidth]="widthOfTopCarriersChart" gdColumn="1 / 1" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1">
  </vex-widget-bar-chart>

  <vex-widget-bar-chart [series]="SeriesOfTopVendorsByVolumeChart" [labels]="labelsOfTopVendorsByVolumeChart"
    [titleName]="chart6Name" [barHeight]="barHeightOfTopVendorsByVolumeChart" gdColumn="-1 / 2" gdColumn.lt-md="1 / -1"
    gdColumn.lt-sm="1"></vex-widget-bar-chart>

  <vex-widget-bar-chart [series]="SeriesOfMissedDeliveriesChart" [labels]="labelsOfMissedDeliveriesChart"
    [titleName]="chart7Name" [barHeight]="barHeightOfMissedDeliveriesChart" [chartHeight]="heightOfMissedDeliverysChart"
    [chartWidth]="widthOfMissedDeliverysChart" gdColumn="1 / 1" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1">
  </vex-widget-bar-chart>

  <vex-widget-bar-chart [series]="SeriesOfMissedPickupsChart" [labels]="labelsOfMissedPickupsChart"
    [titleName]="chart8Name" [barHeight]="barHeightOfMissedPickupsChart" gdColumn="-1 / 2" gdColumn.lt-md="1 / -1"
    gdColumn.lt-sm="1"></vex-widget-bar-chart>

  <vex-widget-bar-chart [series]="SeriesOfCarrierPerformanceChart" [labels]="labelsOfCarrierPerformanceChart"
    [titleName]="chart9Name" [barHeight]="barHeightOfCarrierPerformanceChart" gdColumn="-1 / 1" gdColumn.lt-md="-1 / 1"
    gdColumn.lt-sm="1"></vex-widget-bar-chart>

</div>