<h2 mat-dialog-title>{{title}}</h2>

<form [formGroup]="alertConfirmFormGroup">
    <mat-dialog-content>
        <!-- <mat-form-field appearance="standard" color="primary" style="width: 75%;" >
            <mat-label>Email</mat-label>
            <input matInput name="emailToSendQuote" required formControlName="emailToSendQuote">
        </mat-form-field> -->
        <label>{{message}}</label>
    </mat-dialog-content>

    <mat-dialog-actions>                
        <button color="primary" mat-raised-button (click)="alertConfirmAccept()">{{acceptButtonLabel}}</button>
        <button color="primary" mat-raised-button (click)="alertConfirmNo()" *ngIf="yesNoActions">No</button>
        <button color="primary" mat-raised-button (click)="close()" *ngIf="confirmDialog">Cancel</button>     
        <!-- <button mat-button mat-dialog-close type="button">Accept2</button>  -->
    </mat-dialog-actions>
</form>